<template>
  <Page backgroundColor="#ffeeeeee"  actionBarHidden="true"  @loaded="appLoaded">

    <WrapLayout horizontalAlignment="center" ref="rootLayout">
      <ScrollView ref="scrollView" @scroll="onScroll">
        <StackLayout >
          <StackLayout ref="topView" height="300" style="background-image: url('~/assets/images/header.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            <AbsoluteLayout ref="fabItemPosition"  height="100%" >
              <GridLayout ref="fabItemContainer" marginTop="5%" paddingTop="20%" height="150%" marginLeft="10%" left="8" top="0" verticalAlign="">
                <FabItem row="1" :class="classItem1" class="fa" color="#2bbbad" :title="'fa-envelope' | fonticon" @tap="participa('Practica mucho-->')" :url="'participa'"/>
                <FabItem row="1" :class="classItem2" color="#3f51b5"  :title="'fa-facebook' | fonticon" :url="'https://www.facebook.com/copevalgoboax/'" />
                <FabItem row="1" :class="classItem3" color="#33b5e5"  :title="'fa-twitter' | fonticon" :url="'https://twitter.com/COPEVAL_GobOax'"/>
              </GridLayout>
              <FabButton @onButtonTap="onButtonTap" :isActive="isActive" marginTop="75%" marginLeft="10%"/>
            </AbsoluteLayout>
          </StackLayout>
          <StackLayout width="100%" padding="10" horizontalAlignment="center">
            <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView">
              <WrapLayout horizontalAlignment="center">
                <StackLayout horizontalAlignment="center">
                  <WrapLayout horizontalAlignment="center">
                    <card-view v-for="item in menu" :key="item.id" :name="item.id" class="cardStyle card-width-cop" radius="6" elevation="90" ripple="true" @tap="loadView(item.action)">
                      <StackLayout>
                        <Image :src="item.image" horizontalAlignment="center" class="image m-5" ></Image>
                        <Label :text="item.title" textWrap="true" class="m-10 title_cop" fontWeight="Bold" textAlignment="center" ></Label>
                        <Label :text="item.descripcion" textWrap="true" class="subject_cop m-b-5 m-r-5 m-l-5" textAlignment="center" ></Label>
                      </StackLayout>
                    </card-view>
                  </WrapLayout>
                </StackLayout>
              </WrapLayout>
            </ScrollView>
          </StackLayout>
        </StackLayout>

      </ScrollView>

    </WrapLayout>

  </Page>
</template>

<script>

  import * as app from '@nativescript/core/application'
  const {device, screen} = require('@nativescript/core/platform');

  import MenuSlider from "./resources/MenuSlider"
  import FabButton from './resources/FloatButton/FabButton'
  import FabItem from './resources/FloatButton/FabItem'

  export default {
    data() {
      return {
        widthScreen: screen.width,
        heightScreen: screen.height,
        widthCardView: (screen.width < 640 ? 40 : 45),
        textViewValue:'',
        isActive: false,
        menu:[
          {
            id:1,
            image: '~/assets/images/menu/acciones_desarrollo.png',
            title: 'Acciones Desarrollo',
            descripcion: 'Acciones para el desarrollo social',
            action: 'Acciones Desarrollo'
          },
          {
            id:2,
            image:'~/assets/images/menu/pub.png',
            title:'PUB',
            descripcion:'Padrón Único de Beneficiarios',
            action: 'PUB'
          },
          {
            id:3,
            image:'~/assets/images/menu/como_vamos.png',
            title:'¿Cómo vámos?',
            descripcion:'Datos, indicadores e información estadística',
            action: 'Como vamos'
          },
          {
            id:4,
            image:'~/assets/images/menu/mapa_digital.png',
            title:'Mapa Digital',
            descripcion:'Herramienta con diferentes tipos de capas a través de la api del INEGI',
            action: 'Mapa Digital'
          },
          {
            id:5,
            image:'~/assets/images/menu/georreferencia.png',
            title:'Georreferencia',
            descripcion:'Búsqueda con filtros por dependencia o programas del sistema web PUB',
            action: 'Georreferencia'
          },
          {
            id:6,
            image:'~/assets/images/menu/servicios_tecnologicos.png',
            title:'Servicios tecnológicos',
            descripcion:'Desarrollo de nuevas tecnologías',
            action: 'Servicios tecnológicos',
          },
          {
            id:7,
            image:'~/assets/images/menu/investigacion_social.png',
            title:'Investigación social',
            descripcion:'Investigación cuantitativa y cualitativa',
            action: 'Investigacion social'
          },
          {
            id:8,
            image:'~/assets/images/menu/logo_revista_sostenible.png',
            title:'Revista Sostenible',
            descripcion:'Resultado de los trabajos sobre desarrollo sostenible',
            action: "Revista Sostenible"
          },
          {
            id:9,
            image:'~/assets/images/menu/agenda2030.png',
            title:'Agenda 2030 y Desarrollo Municipal',
            descripcion:'Guia para la elaboración de Planes Municipales de Desarrollo Sostenible',
            action: "Agenda 2030"
          },
          {
            id:10,
            image:'~/assets/images/menu/e40.png',
            title:'Estrategia E-40',
            descripcion:'Estrategia de atención a municipios prioritarios',
            action: "Estrategia E-40"
          }/*,
                    {
                        id:11,
                        image:'~/assets/images/menu/marker.png',
                        title:'Mapa COVID',
                        descripcion:'En este mapa podrás visualizar la evolución de la contingencia COVID-19',
                        action: "Mapa Covid"
                    }*/
        ],
      };
    },
    computed: {
      classItem1() {
        return this.isActive ? "raiseItem1" : "downItem1"
      },
      classItem2() {
        return this.isActive ? "raiseItem2" : "downItem2"
      },
      classItem3() {
        return this.isActive ? "raiseItem3" : "downItem3"
      },
      classBackdrop() {
        return this.isActive ? "backdrop-visible" : "backdrop-invisible"
      },
    },
    created(){
      // Modificación de estilos cuando el telefóno cambie su orientación
      app.on(app.orientationChangedEvent, function(args) {
        if (args.newValue == 'portrait' && this.widthScreen <= 640){
          this.widthCardView = 40;
          console.log("Orientation: ", args.newValue);
        }
        else{
          this.widthCardView = 45;
        }
      }.bind(this));
    },
    methods: {
      participa(text){
        alert(text);
      },
      onScroll: function () {
        //access to the native event
        const scrollView = this.$refs.scrollView.nativeView;
        const topView = this.$refs.topView.nativeView;

        // if the offset is less than the height of the header.
        if (scrollView.verticalOffset < 250) {
          const offset = scrollView.verticalOffset / 5.65; // you can adjust this number to make the parallax more subtle or dramatic
          if (scrollView.ios) {
            // iOS adjust the position with an animation to create a smother scrolling effect.
            topView.animate({ translate: { x: 0, y: offset } }).then(() => { }, () => { });
          } else {
            // Android, animations are jerky so instead just adjust the position without animation.
            topView.translateY = Math.floor(offset);
          }
        }
      },
      appLoaded(args) {

        let fabItemContainer = this.$refs.fabItemContainer.nativeView;
        let fabItemPosition = this.$refs.fabItemPosition.nativeView;
        let rootLayout = this.$refs.rootLayout.nativeView;

        // Needed to avoid masking child components on Android
        if (app.android && device.sdkVersion >= '21') {
          fabItemContainer.android.setClipChildren(false);
          fabItemPosition.android.setClipChildren(false);
          rootLayout.android.setClipChildren(false);
        }
      },
      onItemTap(args) {
        console.log('Tapped cell: ' + args.index)
      },
      onButtonTap(args) {
        this.isActive = !this.isActive
      },
      /*
      * Método para ir a la vista seleccionada del menú
      * nameView -> nombre de la vista
      * **/
      loadView(nameView){
        this.$navigateTo(MenuSlider, {
          animated: true,
          transition: {
            name: "slideLeft",
            duration: 250,
            curve: "easeIn"
          },
          props:{
            typeView: nameView
          }
        })
      }
    },
    components: { FabButton, FabItem }
  };
</script>

<style scoped>
  .body-template TextView{
    font-size:10px;
    padding:5 15;
    border:none;
  }

  .image{
    width: 200px;
    height: 200px;
    padding-left: 10px;
  }

  .card-title{
    font-weight: bold;
    font-size: 18pt;
  }

  .card-text{
    color: #8b8c8e;
    font-size: 16pt;
  }

  .backdrop {
    background-color: rgba(29, 30, 35, .90);
    opacity: 0;
  }

  .backdrop-visible {
    animation-name: activateBackdrop;
    animation-duration: .25;
    animation-fill-mode: forwards;
  }

  .backdrop-invisible {
    animation-name: activateBackdrop;
    animation-duration: .25;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }

  .raiseItem1 {
    opacity: 1;
    animation-name: raiseItem1;
    animation-duration: .25;
    animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation-fill-mode: forwards;
  }

  .raiseItem2 {
    opacity: 1;
    animation-name: raiseItem2;
    animation-duration: .25;
    animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation-fill-mode: forwards;
  }

  .raiseItem3 {
    opacity: 1;
    animation-name: raiseItem3;
    animation-duration: .25;
    animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation-fill-mode: forwards;
  }

  .downItem1 {
    animation-name: raiseItem1;
    animation-duration: .20;
    animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }

  .downItem2 {
    animation-name: raiseItem2;
    animation-duration: .20;
    animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }

  .downItem3 {
    animation-name: raiseItem3;
    animation-duration: .20;
    animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }

  @keyframes activateBackdrop {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes raiseItem1 {
    from {
      opacity: 1;
      transform: translate(0, 0);
    }
    to {
      opacity: 1;
      transform: translate(0, -64);
    }
  }

  @keyframes raiseItem2 {
    from {
      opacity: 1;
      transform: translate(0, 0);
    }
    to {
      opacity: 1;
      transform: translate(0, -128);
    }
  }

  @keyframes raiseItem3 {
    from {
      opacity: 1;
      transform: translate(0, 0);
    }
    to {
      opacity: 1;
      transform: translate(0, -192);
    }
  }
</style>