<template>
    <GridLayout rows="auto, auto, auto, *, auto">
        <GridLayout columns="20, *" row="0" class="lpi-titlebar">
            <Label :class="iconset" :text="icon | fonticon" verticalAlignment="center"
                   horizontalAlignment="center" />
            <Label class="h2" :text="title" col="1" verticalAlignment="center" />
        </GridLayout>

        <StackLayout row="1" class="select-all">
            <FlexboxLayout marginTop="10" padding="16" borderRadius="16" backgroundColor="#ffffff" width="100%" alignItems="center" justifyContent="center">
                <TextView width="100%" editable="true" v-model="searchQuery" hint="Escriba y seleccione una opción..."
                          class="input p-b-10" :class="{empty: (searchQuery == '')}" ref="searchBar" maxLength="50">
                </TextView>
            </FlexboxLayout>
        </StackLayout>

        <StackLayout row="2" class="select-all" height="50">
            <check-box :text="isCheckedAll?'QUITAR SELECCIÓN':'SELECCIONAR TODOS'" :checked="isCheckedAll" @checkedChange="selectAll()" class="item-check m-l-10 lpi-list-item"/>
        </StackLayout>
        <!-- ================================== ITEMS DE LA LISTAAAAA ==================================-->

        <ListView ref="listView" for="(i, ind) in list" row="3" separatorColor="transparent" @itemTap="itemTap($event)" >
            <v-template>
                <GridLayout rows="auto" columns="50, auto" >
                    <Label :row="ind" col="0" :class="i.isChecked? 'icon-select':'icon'"  :text="'fa-check-circle' | fonticon"  class="fa" verticalAlignment="center" horizontalAlignment="center" ></Label>
                    <Label :row="ind" col="1" :text="i.nombre" textWrap="true"/>
                </GridLayout>

                <!--               <check-box :id="'checkBox'+i.id" :checked="i.isChecked" @tap="itemTap($event,i)" :text="i.nombre==='-&#45;&#45;' ? '' : i.nombre" :class="(i==='-&#45;&#45;' ? 'lpi-list-separator' : 'lpi-list-item') + (ind % 2 ? ' even' : '')" class="item-check m-l-10"/>-->
                <!--                <Label :text="i.nombre==='-&#45;&#45;' ? '' : i.nombre" />-->
            </v-template>
        </ListView>
        <GridLayout columns="*, auto, *" rows="auto" row="4" class="lpi-bottombar">
            <Button class="fa lpi-close-button subtitle_cop" @tap="setItems" col="1">Cerrar  {{'fa-times' | fonticon}}</Button>
        </GridLayout>
    </GridLayout>
</template>

<script>

    import {AndroidApplication} from '@nativescript/core/application'
    const application =  require('@nativescript/core/application')
    import { isAndroid} from '@nativescript/core/platform'

    import { topmost } from 'tns-core-modules/ui/frame';

    export default {
        data() {
            return {
                refresh:true,
                searchQuery:'',
                isCheckedAll:false,
                isOpen:false,
                list:[{id:0,nombre:'',isChecked:false}],
                timer:null
            };
        },
        watch:{
            /**
             * metodo que filtra la lista de elementos,cuando se ingresa texto
             * */
            searchQuery:function(event){
                if(this.timer){
                    clearTimeout(this.timer);
                }
                this.timer = setTimeout(function(){
                    if(event.length>1){
                        let temp = this.items.filter(item =>
                            item.nombre.toLowerCase().startsWith(this.searchQuery.toLowerCase()),
                        );
                        if(temp.length>0){
                            this.list=temp;
                        }
                    }else{
                        this.list=this.items;
                    }
                }.bind(this),500);
            }
        },
        computed: {
        },
        methods: {
            /**
             * MODIFICA EL ESTADO DEL ITEM isChecked true o false,
             * agregar  el cambio del estado del item de la lista original en el if y else
             * @param event= el estado true o false
             * @param item = el objeto seleccionado o deseleccionado
             */
            itemTap(event) {
                var item=event.item;
                if(typeof item.isChecked === "undefined"){
                    item.isChecked=true;
                }else{
                    item.isChecked=!item.isChecked;
                }
                this.$refs.listView.nativeView.refresh();
            },
            setItems(){
                this.parent.updateSel();
                this.closeModal();
            },
            closeModal() {
                this.$modal.close();
            },
            selectAll(){
                this.isCheckedAll=!this.isCheckedAll;
                if(this.isCheckedAll){
                    this.list.forEach(item=>{
                        const checkBox = topmost().getViewById('checkBox'+item.id);
                        item.isChecked=true;
                    })
                }else{
                    this.list.forEach(item=>{
                        item.isChecked=false;
                    })
                }
                this.$refs.listView.nativeView.refresh();
            }
        },
        mounted() {
            if (isAndroid) {
                this.androidhook = application.android.once(
                    AndroidApplication.activityBackPressedEvent,
                    data => {
                        this.$modal.close();
                        data.cancel = true; // prevents default back button behavior
                    }
                );
            }
            this.list=this.items;

        },
        props: {
            iconset: {
                type: String,
                default: "fa"
            },
            icon: {
                type: String,
                default: "fa-user"
            },
            title: String,
            items: Array,
            parent: Object
        },
        name: "ListPickerIModal"
    };
</script>

<style scoped>
    .lpi-titlebar {
        color: white;
        background-color: #b7156d;
        font-size: 20;
        padding: 20;
    }

    .h2 {
        padding: 0;
        padding-left: 5;
        margin: 0;
    }

    .lpi-list-item {
        font-size: 16;
        padding: 10 20;
        width: 100%;
    }

    .lpi-list-item.even {
        background-color: rgb(255, 209, 240);
    }

    .lpi-list-separator {
        background-color: #b7156d;
        height: 5;
        width: 100%;
    }

    .lpi-bottombar {
        color: white;
        background-color: #b7156d;
        text-align: right;
    }

    .lpi-close-button {
        background-color: #b7156d;
        height: 40;
        color: white;
        border-color: transparent;
        border-width: 1;
    }
    .item-check{
        margin-top: 40px;
        color:black;
        font-size: 16px;
    }
    .select-all{
        background-color: white;
    }
    .icon{
        font-size: 50em;
        font-size: 22px;
        color: #7f807d
    }
    .icon-select{
        font-size: 50em;
        color: grey;
        font-size: 24px;
        color: #6ab2ff;
    }
</style>
