<template>
    <GridLayout ref="main" :columns="gridCols" rows="40" class="lpi-main"
        @tap="selectField" iosOverflowSafeArea="false">
        <GridLayout :col="getIconPos()" :backgroundColor="iconBackgroundColor"
            class="lpi-icon" rows="40" iosOverflowSafeArea="false">
            <Label :class="iconset" :text="icon | fonticon" verticalAlignment="center"
                horizontalAlignment="center" iosOverflowSafeArea="false" />
        </GridLayout>
        <GridLayout :col="getTextPos()" :backgroundColor="textBackgroundColor"
                    :class="'lpi-text ' + (border ? 'border':'')" rows="*" iosOverflowSafeArea="false">
            <Label :text="displayedText" verticalAlignment="center"
                horizontalAlignment="left" iosOverflowSafeArea="false" />
        </GridLayout>
    </GridLayout>
</template>

<script>
    import ListPickerIModal from "./ListPickerIModal";
    import * as effects from "../../../helpers/Effects";
    import navigation from "../../../helpers/Navigation";
    import * as http from 'tns-core-modules/http';
    export default {
        data() {
            return {
                current: undefined,
                list: Array,
                itemsSelected:[]
            };
        },
        created() {
            if(this.options.length>0){
                this.list=this.options;
                this.current=this.value;
            }
            if (this.list && this.list.length > 0) {
                let val = this.value;
                if (val === undefined) {
                    val = this.list[0];
                }
                if (typeof val === "object") {
                    this.current = val;
                } else {
                    this.current = val;
                }
            } else {
                this.current = "None";
            }
        },
        components: {
            ListPickerIModal
        },
        computed: {
            gridCols() {
                return this.position === "left" ? "40, *" : "*, 40";
            },
            displayedText() {
                return this.current.nombre;
            },
        },
        props: {
            value: Object,
            iconset: {
                type: String,
                default: "fa"
            },
            icon: {
                type: String,
                default: "fa-user"
            },
            iconBackgroundColor: {
                type: String,
                default: "#b7156d"
            },
            textBackgroundColor: {
                type: String,
                default: "white"
            },
            textField: "" /* If items in list are object, name of the field to display */ ,
            position: {
                type: String,
                default: "left",
                validator: val => ["left", "right"].includes(val)
            },
            selTitle: {
                type: String,
                default: "Select a value"
            },
            border: {
                type: Boolean,
                default: false
            },
            options:{
                type:Array,
                default:[]
            }
        },
        name: "ListPickerI",
        methods: {
            getIconPos() {
                return this.position === "left" ? 0 : 1;
            },
            getTextPos() {
                return this.position === "left" ? 1 : 0;
            },
            updateSel() {
                this.itemsSelected = this.options.filter(item =>
                    item.isChecked==true
                );
                    if(this.itemsSelected.length==0){
                        this.current={id:0,nombre:"Seleccione una opción", items:[]};
                        this.$emit("input", this.current);
                        return;
                    }

                    if(this.itemsSelected.length>1){
                        this.current={id:0,nombre:"Seleccionados("+this.itemsSelected.length+")",items:this.itemsSelected};
                        this.$emit("input", this.current);
                    }else{
                      this.current={id:0,nombre:this.itemsSelected[0].nombre, items:this.itemsSelected};
                        this.$emit("input", this.current);
                    }
            },
            selectField() {
                let view = this.$refs.main.nativeView;
                effects.tapEffect(view).then(() => {
                    navigation.pushModal(this.$modal);
                    return this.$showModal(ListPickerIModal, {
                        props: {
                            title: this.selTitle,
                            icon: this.icon,
                            iconset: this.iconset,
                            items: this.list.map(item => {
                                return typeof item ===
                                    "object" ?
                                    item:
                                    item;
                            }),
                            parent: this
                        }
                    }).then(() => {
                        navigation.popModal();
                    });
                });
            },
            updateValue(val) {
                this.updateSel(val);
            }
        }
    };
</script>

<style scoped>
    .lpi-main {
        border-radius: 5;
    }

    .lpi-icon {
        color: white;
        border-top-left-radius: 5;
        border-bottom-left-radius: 5;
        font-size: 20;
    }

    .lpi-text {
        color: #b7156d;
        padding: 10;
        border-top-right-radius: 5;
        border-bottom-right-radius: 5;
        font-size: 14;
    }

    .lpi-text.border {
        border-width: 1;
        border-color: #eee;
    }
</style>