// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '../node_modules/@nativescript/theme/core';
@import '../node_modules/@nativescript/theme/default';

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling


/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
The imported CSS rules must precede all other types of rules.
*/


$text-color: #000;
$color-disabled: #444444;
$border-color: #fff;
$copeval-purple: #9B3792;
$text-white-color: #ffc;

.subtitle_cop{
  color:white;
}