.btn { font-size: 18; }

.fa{ font-family: "FontAwesome", "fontawesome-webfont"; }

*{
    font-family: 'Univia Pro', 'Arial Narrow', UniviaPro-Regular;
    font-size: 15;
    padding: 0;
}

.profile-img{
    width: 35;
    height: 35;
    border-radius: 25;
}

.clip{ overflow: hidden; }

/* GLOBAL CSS */

.p15 { padding: 15; }

.fw800{ font-weight: 800; }

.fw100{ font-weight: 100; }

.fs14{ font-size: 14; }

.fs12{ font-size: 12; }

.fs10{ font-size: 10; }

.fs18{ font-size: 18 }

.fs20{ font-size: 20; }

.ls{ letter-spacing: 0.1px; }

.ico{
    font-family: "icomoon";
    color: #fff;
    font-size: 28;
}

.icoPB{
    font-family: "player-btns";
    color: #fff;
}

.mt{ font-family: Montserrat; }

.sf{
    font-family: SF Pro Display;
    font-weight: 800;
}

.sfl{
    font-family: SF Pro Display;
    font-weight: 100;
}

.pb{ font-family: player-btns; }

.active{ color: #C0FF40; }

.w{ color: #ffffff; }

.header-tiles{
    width: 135;
    height: 45;
    border-radius: 8;
    font-size: 14;
    font-weight: 800;
    color: #fff;
    margin: 0 0 15 15;
}

.artist-tiles{
    width: 150;
    height: 50;
    border-radius: 8;
    font-weight: 800;
    color: #fff;
    margin: 0 0 15 15;
}

.t1{
    background: rgb(255,89,162);
    background: linear-gradient(to right, rgb(255,89,162) 0%,rgb(255,233,123) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff59a2', endColorstr='#ffe97b',GradientType=1 );
}

.t2{
    background: rgb(138,232,255);
    background: linear-gradient(to right, rgb(138,232,255) 0%,rgb(149,31,255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ae8ff', endColorstr='#951fff',GradientType=1 );
}

.t3{
    background: rgb(138,255,220);
    background: linear-gradient(to right, rgb(138,255,220) 0%,rgb(195,255,31) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8affdc', endColorstr='#c3ff1f',GradientType=1 );
}

.t4{
    background: rgb(255,45,85);
    font-size: 12;
}

.t5{
    background: #f6f6f6;
    color: rgb(255,45,85);
    font-size: 12;
}
.page{
    background-color: white;
}

.cardStyle {
    background-color: #ffffff;
    color: rgb(43, 43, 43);
    border-radius: 16%;
    box-shadow: #da0331;
    padding: 15px;
    margin: 15px;
}

.cardContent {
    padding: 20px;
}

.cardTitle{
    font-weight: bold;
    padding-top: 10%;
    width: 100%;
    height: 130px;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 22pt;
}

.cardBody{
    font-size: 15px;
    letter-spacing: .1rem;
    color: black;
    paddingTop: 50px;
}

.cardText{
    font-size: 22pt;
    color: black;
}

.btn-secondary{
    color: #fff;
    background-color: #aa66cc;
}
.img-doc{
    margin-left: 25px;
    margin-right: 25px;

}

.title {
    color: purple;
    font-size: 50px;
    margin-top: 40px;
    font-weight: bold;
}

.subTitle {
    color: purple;
    font-size: 18px;
    font-weight: bold;
}

ActionBar {
    background-color:  #000000;
    color: #ffffff;
}

.actionBarContainer{
    width: 100%;
    float:left;
}

.btn {
    font-size: 18;
}

.drawerItemText{
    font-size: 19;
    color: #000;
    height: 22;
}

.HLeft{
    width: 30%;
    float: left;
    border:1px solid red;
    margin-left: 4%;
}

.HMid{
    width: 60%;
}

.HRight{
    width: 10%;
}

.sideDrawerContainer{
    background: #fff;
}

.navItem{
    width:24%;
    text-align: center;
}

.font-awesome {
    font-family: "FontAwesome";
}

.text-white{
    color:#fff;
    font-weight: bold;
}

.text-black{
    color:#000000;
    font-weight: bold;
}

.line{
    margin: 15px;
    border-bottom-width: 2px;
    border-bottom-color: #696969;
}

/**=================================================================================================================
													ESTILOS PARA TEXTO
 =================================================================================================================**/

.title-grey{
    color: #8b8c8e;
    font-weight: bold;
    line-height: 12%;
}

.title-black{
    color: #000000;
    font-weight: bold;
    line-height: 12%;
}

.body-modal{
    background-color: #545454;
}

/**=================================================================================================================
													ESTILOS PARA BUTTONS
 =================================================================================================================**/

.btn-copeval{
    border-radius: 16%;
    background-color: #b7156d;
    color:#FFF;

}

.icon-copeval{
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

