.title_cop{
    font-size: 26px;
}

.subtitle_cop{
    font-size: 24px;
}

.subject_cop{
    font-size: 18px;
}

.card-width-cop{
    width: 30%;
}

.card-width-acc-cop{
    width: 44%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.image-width-cop{
    width: 70%;
}