.title_cop{
    font-size: 16px;
}

.subtitle_cop{
    font-size: 14px;
}

.subject_cop{
    font-size: 12px;
}

.card-width-cop{
    width: 40%;
}

.card-width-acc-cop{
    width: 75%;
}

.image-width-cop{
    width: 85%;
}
