<template>
    <StackLayout class="fab-item" :backgroundColor="color" @tap="onRedirect()" >
        <Label :text="title" horizontalAlignment="center" class="fa" />
    </StackLayout>
</template>

<script>
    const utils = require("tns-core-modules/utils/utils")
    import ModalParticipa from "../modals/ModalParticipa";
    export default {
        props: { title: String, color: String, url: String },
        methods:{
            onRedirect() {
                if(this.url!='participa')
                    utils.openUrl(this.url);
                else
                    this.$navigateTo(ModalParticipa, {
                        animated: true,
                        transition: {
                            name: "slideLeft",
                            duration: 250,
                            curve: "easeIn"
                        },
                    });
            },
        }

    }

</script>



<style scoped>
    .fab-item {
        width: 40;
        height: 40;
        border-radius: 20;
        color: #fff;
        font-weight: bold;
        vertical-align: center;
    }
</style>