<template>
    <GridLayout rows="*" columns="*">
        <ScrollView scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView">
            <FlexboxLayout flexWrap="wrap" horizontalAlignment="center">
                <card-view v-for="item in programasList" :key="item.id" class="cardStyle card-width-acc-cop" >
                    <StackLayout class="cardContent" height="auto">
                        <StackLayout @tap="getPortada(item)">
                            <AbsoluteLayout>
                                <Label text=" " width="100%" height="100" class="aqua-gradient"></Label>
                                <Image :src="item.cuadro.base64" horizontalAlignment="center" width="32%" marginTop="40" marginLeft="30%" borderRadius="80%" ></Image>
                            </AbsoluteLayout>

                            <Label :text="item.nombre" textWrap="true" margin="10" class="title_cop" textAlignment="center" horizontalAlignment="center"></Label>

                            <Label text="Objetivo: " class="subtitle_cop m-l-10 m-b-2"></Label>
                            <Label :text="item.descripcion" textAlignment="center" textWrap="true" class="subject_cop" horizontalAlignment="center" margin="10"></Label>
                        </StackLayout>

                        <Label horizontalAlignment="center" :text="'fa-envelope' | fonticon" class="fa buttonRounded title_cop"  marginBottom="2" @tap="formComentario(item)"></Label>

                        <Label :text="'Contactar a: ' + item.siglasDep" class="label-link subject_cop m-b-10" textAlignment="center"  @tap="formComentario(item)"></Label>

                    </StackLayout>
                </card-view>
            </FlexboxLayout>
        </ScrollView>

        <ActivityIndicator :busy="isBusy" color="green" borderRadius="50" width="100" height="100" :marginTop="heightScreen/4" />
        <Image :src="'~/assets/images/x.png'" class="icon-copeval" width="15%" height="100" :marginTop="heightScreen/4" v-if="isBusy"></Image>

        <StackLayout verticalAlignment="bottom" backgroundColor="#B7156D" height="45" style.zIndex="1">

        </StackLayout>
        <Button backgroundColor="#B7156D" marginTop="94%" marginLeft="41%" @tap="getReproductor()" @swipe="slideFinger" style.zIndex="1" top="0px" id="btn-audio" class="fa btn-audio title_cop" :text="'fa-volume-up' | fonticon" horizontalAlignment="left" width="80" :height="80" :visibility="isShowButton"></Button>
    </GridLayout>

</template>

<script>
    const http = require("@nativescript/core/http");
    import ModalPrograma from "../resources/modals/ModalPrograma";
    import modalViewer from "../resources/modals/modalViewer";
    import FabButton from '../resources/FloatButton/FabButton';
    import * as app from '@nativescript/core/application';
    import Player from "../resources/Player"

    var gestures = require("@nativescript/core/ui/gestures");

    const {device, screen} = require('@nativescript/core/platform');

    export default {
        name: "AccionesDesarrollo",
        data(){
            return {
                programasList: '',
                isBusy: true,
                isShowButton: "visible",
                isActive: false,
                widthCardView: (screen.mainScreen.widthPixels < 640 ? 75 : 44),
                widthScreen: screen.mainScreen.widthPixels,
                heightScreen: screen.mainScreen.heightPixels
            }
        },
        created(){


            /**
             * Petición al PUB para obtener lista de Programas visibles
             * */
            http.getJSON("http://sgps.oaxaca.gob.mx/publico/getListProgramasSostenible").then((r) => {
                this.programasList = r;
                this.isBusy = false;
            }, (error) => {
                console.log("Error al obtener resultados-------------------------------------->>>>>>>"+error);
            });

            /**
             * Obtener la orientación del dispósitivo móvil para cambio de estilos
             * */
            app.on(app.orientationChangedEvent, function(args) {
                if (args.newValue == 'portrait'){
                    this.widthCardView = 75;
                }
                else{
                    this.widthCardView = 44;
                }
            }.bind(this));
        },
        methods: {
            /**
             * Método que muestra el modal Formulario para el envió de correo
             * de acuerdo a la Dependencia que pertenezca el programa seleccionado
             * item -> Objeto Programa
             * */
            formComentario(item) {
                this.$navigateTo(ModalPrograma, {
                    animated: true,
                    transition: {
                        name: "slideLeft",
                        duration: 250,
                        curve: "easeIn",
                    },
                    props: {
                        programa: item
                    }
                });
            },
            /**
             * Método que muestra el modal para la visualización de Portada del programa seleccionado.
             * item -> Objeto programa -> se requiere el id
             * */
            getPortada(item) {
                this.$showModal(modalViewer, {
                    fullscreen: true,
                    props: {
                        ruta: "http://sgps.oaxaca.gob.mx/publico/getPortada",
                        id: item.id
                    }
                });
            },
            slideFinger(args) {
                let direction = args.direction == gestures.SwipeDirection.down ? "down"
                    : args.direction == gestures.SwipeDirection.up
                        ? "up"
                        : args.direction == gestures.SwipeDirection.left
                            ? "left"
                            : "right";
                if (direction == "up") {
                    this.getReproductor()
                }

            },
            getReproductor() {
                this.$navigateTo(Player, {
                    animated: true,
                    transition: {
                        name: "slideTop",
                        duration: 150,
                        curve: "linear",
                    },
                });
            },
        },
        computed: {
            buttonAnimation() {
                return this.isActive ? "iconActive" : "iconIdle"
            }
        },
        components: { FabButton}
    }
</script>

<style scoped>

    .icon{
        width: 40%;
        height: 40%;
        border-radius: 100%;
        top: 65%;
        margin-left: 27.5%;
    }

    .buttonRounded {
        padding: 10%;
        color: rgb(193, 193, 200);
        /*font-size: 50px;*/
    }

    .aqua-gradient {
        background: linear-gradient(to right, #2096ff,#05ffa3);
    }

    .btn-audio{
        background-color: #B7156D;
        color: #ffffff;
        font-weight: bold;
        border-radius:50%;
        position:relative;
        top:-10px;
        z-index: 99999999;
    }

    .label-link {
        color: #007bff;
    }

    @keyframes iconActive {
        from {
            transform: translate(0, 0);
        }
        to {
            transform: translate(0, -100);
        }
    }
</style>
