<template>
    <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView" >
        <StackLayout>
            <WebView class="m-b-10" :src="descripcion" margin="2" :width="width*.98" :height="this.$store.state.isIOS ? height*.6 : 'auto'" />

            <FlexboxLayout flexWrap="wrap" horizontalAlignment="center">
                <card-view class="cardStyle m-r-10 m-l-10 m-b-10 m-t-10" :width="widthCard + '%'">
                    <StackLayout class="cardContent">
                        <Label text="Clic en la imagen para visualizar el contenido" textWrap="true" fontSize="12pt" textAlignment="right"></Label>
                        <Image :src="'~/assets/images/agenda2030/agenda2030.jpg'" @tap="onLoadPdfAgenda()" class="m-t-10"></Image>
                        <Label class="subTitle" margin="20" textAlignment="center"
                               text="Guía para la Elaboración de Planes Municipales de Desarrollo Sostenible" textWrap="true"></Label>
                    </StackLayout>
                </card-view>

                <card-view class="cardStyle m-r-10 m-l-10 m-b-10 m-t-10" :width="widthCard + '%'" >
                    <StackLayout>
                        <AbsoluteLayout>
                            <Image :src="'~/assets/images/agenda2030/logoAgenda2030.jpg'" class="bg-image"></Image>
                            <Image :src="'~/assets/images/agenda2030/logoAgenda2030.jpg'" top="75" class="image-border" @tap="onLoadAgenda2030()"></Image>
                        </AbsoluteLayout>
                        <Label class="subTitle" margin="20" textAlignment="center" text="www.agenda2030.oaxaca.gob.mx" @tap="onLoadAgenda2030()" textWrap="true"></Label>
                    </StackLayout>
                </card-view>
            </FlexboxLayout>

        </StackLayout>
    </ScrollView>
</template>

<script>
    const utilsModule = require('@nativescript/core/utils/utils');
    import FlipBook from "./FlipBookWebView";
    const {device, screen} = require('@nativescript/core/platform');
    import * as app from 'tns-core-modules/application'

    export default {
        name: "Agenda2030",
        data(){
            return{
                height: screen.mainScreen.height, //screen.mainScreen.heightDIPs,
                width: screen.mainScreen.width, //screen.mainScreen.widthDIPs,
                widthCard: (screen.mainScreen.width < 640 ? 90 : 46),
                mensaje: " La incorporación de la Agenda 2030 en la planeación municipal permite a las autoridades de éste " +
                    " nivel de gobierno  fortalecer una visión clara hacia un mejor futuro, diseñando acciones que atiendan " +
                    " mejor los problemas de pobreza, desigualdades y deterioro del medio ambiente, así como los retos de paz " +
                    " y gobernanza que afectan a todas las personas y comunidades. La Guía para la Elaboración de Planes " +
                    " Municipales de Desarrollo Sostenible está diseñada precisamente para ser un documento que oriente a " +
                    " los gobiernos municipales de nuestro Estado en la elaboración de los Planes Municipales de Desarrollo " +
                    " (PMD), por medio de un proceso participativo y con un enfoque de Desarrollo Sostenible que permita " +
                    " contribuir  al cumplimiento de los ODS.",
                agendasList: ''
            }
        },
        methods: {
            onLoadAgenda2030() {
                utilsModule.openUrl("http://www.agenda2030.oaxaca.gob.mx")
            },
            /**
             * Método para visualizar la agenda PDF
             * */
            onLoadPdfAgenda(){
                this.$navigateTo(FlipBook, {
                    animated: true,
                    transition: {
                        name: "slideLeft",
                        duration: 250,
                        curve: "easeIn"
                    },
                    props: {
                        action: "agenda2030" // nombre del documento a visualizar
                    }
                })
            },
        },
        created(){
            app.on(app.orientationChangedEvent, function(args) {
                if (args.newValue == 'portrait'){
                    this.widthCard = 90;
                    this.height = screen.mainScreen.height;
                    this.width = screen.mainScreen.width;
                }
                else{
                    this.widthCard = 46;
                    this.height = screen.mainScreen.width; // toma el valor de la pantalla antes de que termine de ejecutarse el evento
                    this.width = screen.mainScreen.height; // por eso el height es adignado al width
                }
            }.bind(this));
        },
        computed: {
            descripcion:function(){
                return "<p style='text-align: justify; font-size: 14pt; color: black;'>" + this.mensaje + "</p>";
            }
        }
    }

</script>

<style scoped>
    .bg-image {
        /* Add the blur effect */
        -moz-filter:blur(5px);
        -webkit-filter:blur(5px);
        -o-filter:blur(5px);
        -ms-filter:blur(5px);
        filter:blur(5px);

        width: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        opacity: 0.4;
    }

    .cardStyle {
        background-color: #ffffff;
        color: rgb(43, 43, 43);
        border-radius: 16%;
        box-shadow: #da0331;
        padding: 15px;
        margin: 15px;
    }

    .image-border{
        border-color: white;
        border-width: 8pt;
        margin-left: 10%;
        width: 80%;
    }
</style>
