<template>
    <ScrollView row="*" actionBarHidden="true" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView" >
        <StackLayout class="cardContent" orientation="vertical">

            <WebView :src="mensaje" width="90%" :height="this.width < 830 ? 350 : 180"></WebView>

            <Image :src="'http://sostenible.oaxaca.gob.mx/assets/infografiaMovil/carencias_movil-1ed79402a69a48131662761c638b2806.png'" class="m-b-10 image-width-cop" />

            <Image :src="'http://sostenible.oaxaca.gob.mx/assets/infografia_cs_mv/infografia_cs_mv-96fe8d3bf7eed4aff0d1b2655c788dff.png'" class="m-b-10 image-width-cop" @tap="showModal(10)"/>
            <Image :src="'http://sostenible.oaxaca.gob.mx/images/info_2021_movil.jpg'" class="m-b-10 image-width-cop" @tap="showModal(10)"/>

        </StackLayout>
    </ScrollView>
</template>

<script>
    import modalViewer from "../resources/modals/modalViewer";
    const {device, screen} = require('@nativescript/core/platform');

    export default {
        name: "ComoVamos",
        data(){
            return{
                width: screen.width,
                mensaje : "<p style='text-align: justify; font-size: 14pt; color: black; '>" + "Los datos, indicadores e información estadística disponible y oportuna " +
                                                                                                " en materia de política social  constituyen un elemento fundamental, que " +
                                                                                                " junto con otros componentes, permiten llevar a cabo un proceso adecuado " +
                                                                                                " en la toma de decisiones tanto operativas como estratégicas vinculadas a " +
                                                                                                " las acciones y programas sociales que se instrumentan, además de  impulsar " +
                                                                                                " la  transparencia y la rendición de cuentas sobre los resultados de su implementación, " +
                                                                                                " lo que permite a  la población  examinar  su relevancia en el bienestar social.\n" + "</p>"
            }
        },
        methods: {
            /**
             * Visualizar en utns rn androidn modal la imagen correspondiente a la infografía seleccionada
             * */
            showModal(imageId){
                this.$showModal(modalViewer, {
                    fullscreen: true,
                    props: {
                        ruta: '~/assets/images/comoVamos/graficas-carencias/'+imageId+'.jpg',
                        id: null
                    }
                });
            }
        }
    }
</script>

<style scoped>
</style>
