<template>
    <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView" >
        <StackLayout>

            <WebView :src="mensajeInicial" margin="2" :width="width*.98" :height="isIOS ? height*.3 : 100 +'%'" />

            <Image :src="'~/assets/images/e40/infografia-e40_Mesa-de-trabajo-1.png'" marginLeft="5" marginRight="5" ></Image>

            <WebView src="https://www.youtube.com/embed/rRO-gWXmxRE" height="350" margin="2" width="98%" />

            <WebView :src="mensajeFinal" margin="2" :width="width*.98" :height="isIOS ? height*.3 : 100 +'%'"/>
        </StackLayout>
    </ScrollView>
</template>

<script>
    const {device, screen} = require('@nativescript/core/platform');
    import * as app from 'tns-core-modules/application'

    export default {
        name: "E40",
        data(){
            return{
                isAndroid: this.$store.state.isAndroid,
                isIOS: this.$store.state.isIOS,
                width: screen.mainScreen.widthDIPs,
                height: screen.mainScreen.heightDIPs,
                mensaje: " A partir de los resultados de la Medición de la Pobreza a nivel municipal publicados en 2018, por el Consejo Nacional de Evaluación de la Política de " +
                    " Desarrollo Social (CONEVAL), el Gobierno del Estado de Oaxaca a través de la COPEVAL órgano desconcentrado de la Secretaría de Desarrollo Social y Humano " +
                    " (SEDESOH), mediante un ejercicio de planeación efectiva y estratégica, evaluaciones cualitativas derivadas de los estudios e investigaciones realizadas " +
                    " por Universidades y Centros de Investigación locales y nacionales como el CIESAS y el Instituto Tecnológico Nacional de México, el Instituto Politécnico " +
                    " Nacional y el Sistema de Universidades Regionales de Oaxaca y cuantitativas derivada de la metodología multidimensional para medir la pobreza " +
                    " establecida por CONEVAL así ha identificado aquellos municipios donde las personas en condición de pobreza y pobreza extrema demandan mayor atención." +
                    "  Por ello, se creó la Estrategia de Atención a Municipios Prioritarios denominada E-40. Esta estrategia, engloba acciones y programas enfocados para " +
                    " atender las carencias sociales bajo una coordinación interinstitucional entre dependencias y organismos de la administración pública estatal y federal, sectores " +
                    " académicos y sociedad civil mediante 2 ejes:",
                messageComp: " Así, la E-40 establece una visión de solidaridad, dignidad, justicia social y democracia en la arquitectura de los derechos sociales de nuestros pueblos y comunidades. " +
                    " Este trabajo requiere del apoyo y concentración de todos los esfuerzos interinstitucionales para fortalecer un esquema de coordinación cuyo principal motivo es la " +
                    " focalización de las acciones sobre una población específica en la búsqueda de mejores resultados, en una primera etapa participan 33 dependencias: CAO, CEA, CECUDE, CEVI, " +
                    " CGEMSySCyT, COBAO, COPLADE, CSEIIO, CSNEO, DIF, FGEO, ICAPET, IEBO, IEEA, IEEPO, INJEO, IOA, IOCIFED, IODEMC, REPSS, SALUD, SAPAO, SE, SECTUR, SECULTA, SEDAPA, SEDESOH, " +
                    " SEFIN, SEMAEDESO, SEMOVI, SEPIA, SINFRA y SMO." +
                    "  Es así como el Gobierno del Estado de Oaxaca encabezado por el Maestro Alejandro Murat Hinojosa a través de la Secretaría de Desarrollo Social y Humano con la E-40 " +
                    " ha definido una Política Social involucrando a los sectores académicos, de la sociedad civil junto con todo su equipo en una estrategia interinstitucional de largo alcance para " +
                    " reducir las carencias sociales estos municipios y establecer una visión de solidaridad, dignidad, justicia social y democracia en la arquitectura de los derechos sociales de " +
                    " nuestros pueblos y comunidades.",
                ruta: '<iframe src="https://www.youtube.com/embed/rRO-gWXmxRE" allow="accelerometer; autoplay; encrypted-media; gyroscope" allowfullscreen ></iframe>',
            }
        },
        created() {
            app.on(app.orientationChangedEvent, function(args) {
                if (args.newValue == 'portrait'){
                    this.height = screen.mainScreen.heightDIPs;
                    this.width = screen.mainScreen.widthDIPs;
                }
                else{
                    this.height = screen.mainScreen.widthDIPs; // toma el valor de la pantalla antes de que termine de ejecutarse el evento
                    this.width = screen.mainScreen.heightDIPs; // por eso el height es adignado al width
                }
            }.bind(this));
        },
        computed:{
            mensajeInicial(){
                return "<p style='text-align: justify; font-size: 14pt; color: black;'>" + this.mensaje + "</p>";
            },
            mensajeFinal(){
                return "<p style='text-align: justify; font-size: 14pt; color: black; '>" + this.messageComp + "</p>";
            }
        }
    }
</script>

<style scoped>

</style>