<template>
    <Page class="page" :actionBarHidden="android" backgroundSpanUnderStatusBar="true">
        <StackLayout>
            <WebView :src="'http://sostenible.oaxaca.gob.mx/revistaMovil/index?doc='+action"  width="100%" height="99%"  backgroundColor="grey"/>
        </StackLayout>


    </Page>
</template>

<script>
    export default {
        data() {
            return {
                headerHeight: 200,
                stretchyHeight: this.headerHeight,
                android:false
            };
        },
        props:["action"],
        mounted(){
            const app = require("application")
            // Hide Status bar android
            if (app.android) {
                this.android=true;
                const activity = app.android.startActivity;
                const win = activity.getWindow();
                win.addFlags(android.view.WindowManager.LayoutParams.FLAG_FULLSCREEN);
            }
        },
        methods: {
            onItemTap() {
                this.$navigateTo(Player, {
                    animated: true,
                    transition: {
                        name: "slideLeft",
                        duration: 250,
                        curve: "easeIn"
                    }
                });
            },
 
        },
        computed:{
            urlNavView(){
                if(this.action=='pub'){
                    return 'http://sgps.oaxaca.gob.mx/publico/consulta?id=movil';
                }else{
                    return 'http://sostenible.oaxaca.gob.mx/revistaMovil/index';
                }
            }
        }
    };
</script>
<style scoped>
    .border {
        border-bottom-width: 1px;
        border-bottom-color: #ebebeb;
        border-bottom-style: solid
    }

    .gr {
        color: #bdbdbd;
    }

    .dg {
        color: #8590A7;
    }

    .artist-bg {
        background-size: 100% 60%;
        background-repeat: no-repeat;
    }

    .backbtn {
        background-image: url('~/assets/images/btn4.png');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 99;
    }
</style>
