<template>
    <!--        <ActionBar title="Realtime Location NSVUE"/>-->
    <StackLayout backgroundColor="rgba(84, 84, 84, 0.30)" marginTop="0" width="100%" height="100%">

        <FlexboxLayout flexWrap="wrap" backgroundColor="#601278" dock="top" width="100%">
            <StackLayout @tap="showDialog" class="p-10">
                <Label :text="'fa-filter' | fonticon" class="fa action-item subtitle_cop m-b-5" horizontalAlignment="center"
                       @tap="showDialog" stretch="aspectFit" color="#FFFFFF"/>
                <Label text="Búsqueda" class="action-item subject_cop" horizontalAlignment="center"
                       stretch="aspectFit" color="#FFFFFF"/>
            </StackLayout>
        </FlexboxLayout>

        <AbsoluteLayout width="100%" height="100%">

            <Mapbox
                        height="100%"
                        width="100%"
                        :latitude="origin.latitude"
                        :longitude="origin.lngitude"
                        :zoomLevel="zoom"
                        mapStyle="streets"
                        mapReady="onMapReady"
                        hideLogo="true"
                        hideAttribution="false"
                        showUserLocation="false"
                        accessToken="pk.eyJ1Ijoib21ha2xvZyIsImEiOiJjazI2Y2o0d28wZXdhM21vMGUzcGJ3anprIn0.vmVaYfhZ5tAIoaJSjV-fvA"
                        @mapReady="onMapReady($event)">
            </Mapbox>

<!--            <ActivityIndicator marginLeft="35%" :busy="isBusy" color="green" borderRadius="50" width="100" height="100" :marginTop="(((height-heightInfo)-250))" />-->
            <Image :src="'~/assets/images/x.png'" class="icon-copeval"  horizontalAlignment="center" marginLeft="45%" width="15%" height="100" marginTop="250" v-if="isBusy"></Image>

            <GridLayout rows="*" :columns="width-50+',10'" v-if="dialogInfo" class="info" width="94%" :height="heightInfo" :marginTop="(((height-heightInfo)-160))" marginLeft="3%">
                    <ScrollView orientation="vertical" margin="10" col="0">
                        <StackLayout orientation="vertical" marginBottom="20">

                                <template v-if="!minimize">
                                    <GridLayout columns="auto, *, auto" rows="auto, auto" width="100%" marginBottom="15px">
                                        <Label @tap="prevMun()" row="0" col="0"  class="fa icon-angle" :text="'fa-chevron-circle-left' | fonticon" v-if="params.selected.items.length>1"></Label>
                                        <Label                  row="0" col="1"  class="info-label subtitle_cop" :text="this.infoWindow.response[0].nombre" textAlignment="center" horizontalAlignment="center"></Label>
                                        <Label @tap="nextMun()" row="0" col="2" class="fa icon-angle" :text="'fa-chevron-circle-right' | fonticon" v-if="params.selected.items.length>1"></Label>
                                    </GridLayout>

                                    <template v-for="item in infoWindow.response[0].totales">
                                        <GridLayout columns="*, *" rows="*, *, *" width="100%" class="m-t-15 m-b-20">
                                            <Label col="0" row="0" text="Dependencia: " textWrap="true" class="table subject_cop" />
                                            <Label col="1" row="0" :text="dependencia(item.descripcion)" textWrap="true" class="table subject_cop" />
                                            <Label col="0" row="1" text="Periodo: " textWrap="true" class="table subject_cop" />
                                            <Label col="1" row="1" :text="item.periodo" textWrap="true" class="table subject_cop" />
                                            <Label col="0" row="2" text="Total de beneficiarios: " textWrap="true" class="table subject_cop m-b-5" />
                                            <Label col="1" row="2" :text="item.totalp" textWrap="true" class="table subject_cop m-b-5"/>
                                        </GridLayout>
                                    </template>

                                    <template v-if="infoWindow.carencias.carencias">
                                        <GridLayout columns="*, *" rows="*, auto, auto, *, auto" width="100%" class="m-t-15 m-b-30">
                                            <Label row="0" col="0"  class="table subject_cop" text="Caracterización:" textWrap="true"></Label>
                                            <Label row="0" col="1" class="table subject_cop" textWrap="true" v-if="infoWindow.carencias.carencias.length>0" :text="' '+infoWindow.carencias.caracterizacion+' '" textAlignment="center"></Label>
                                            <Label row="2" col="0"  class="table subject_cop" text="Grado de rezago:"></Label>
                                            <Label row="2" col="1" class="table subject_cop" v-if="infoWindow.carencias.carencias.length>0" :text="''+infoWindow.carencias.gradorezago+' '" textAlignment="center"></Label>

                                            <StackLayout row="3" col="0" colSpan="2" orientation="horizontal" horizontalAlignment="center" marginTop="15" >
                                                <Label class="fa subject_cop" :text="'fa-chart-bar' | fonticon" color="#04fa16"></Label>
                                                <Label color="#ff00dc" class="subject_cop"> INDICADORES</Label>
                                            </StackLayout>

                                            <!--<ScrollView row="5" col="0" colSpan="2" orientation="vertical" height="100%" width="100%" class="scroll-info">-->
                                                <StackLayout orientation="vertical" row="5" col="0" colSpan="2"  height="100%" width="100%" class="m-t-10 m-b-30">
                                                    <template  v-for="item in infoWindow.carencias.carencias">
                                                        <GridLayout columns="*, auto" rows="*,*" width="100%" class="table">
                                                            <Label  row="0" col="0" :text="item.descripcion+' '" class="subject_cop" textWrap="true"></Label>
                                                            <Label row="0" col="1"  :text="item.porcentaje+' %'" class="subject_cop text-white" textWrap="true" ></Label>
                                                        </GridLayout>
                                                    </template>

                                                </StackLayout>
                                            <!--</ScrollView>-->

                                        </GridLayout>
                                    </template>
                                </template>
                        </StackLayout>
                    </ScrollView>
                    <Label col="1" @tap="minimize=!minimize" :text="iconInfo | fonticon" textAlignment="right" class="fa text-white subject_cop" verticalAlignment="top" marginTop="10"></Label>

                </GridLayout>

            <TextView dock="bottom" :text="journeyDetails" editable="false"/>

            <AbsoluteLayout class="back-opacity" width="94%" v-if="dialog">
                <form-geodatos :parent="this"
                               @clean-map="removePolygons"
                               @close-modal="showDialog"
                               @show-data="showData"
                               @print-polygons="printPolygons">
                </form-geodatos>
            </AbsoluteLayout>

        </AbsoluteLayout>

    </StackLayout>

</template>

<script>
    /* necessary imports */
    const platform = require('@nativescript/core/platform');
    import FormGeodatos from "../resources/modals/FormGeoDatos";
    const {device, screen} = require('@nativescript/core/platform');
    const permissions = require("nativescript-permissions");
    import { Utils } from "@nativescript/core";
    // import {Color} from "tns-core-modules/color";
    import {Color} from "@nativescript/core/color";
    import munspol from "../../data/polygons.json";
    import axios from "axios"
    import qs from 'qs';

    function Polygon(){
        this.id=0;
        this.points=[];
        this.fillColor= new Color("#d684b0");
        this.fillOpacity= 0.3;
        this.strokeColor= new Color("#000000");
        this.strokeWidth= 0.2;
        this.strokeOpacity= 0.9;
    }

    export default {
        data() {
            return {
                allowExecution: false,
                dialog: true,
                dialogInfo: false,
                index: 0,
                top: 0,
                infoWindow:{
                    response:[
                        {
                            nombre:"Abejones",
                            geoid:1,
                            coordenadasm:1,
                            totales:[
                                {
                                    descripcion:18,
                                    totalp:0,
                                    periodo:"Sin resultado"
                                }
                            ]
                        }
                    ],
                    message:"Busqueda en el mapa",
                    carencias:{
                        id:1,
                        nombre:"Abejones",
                        caracterizacion:"Municipio indígena Municipio indígena Municipio indígena Municipio indígena",
                        gradorezago:"Alto",
                        carencias:[
                            {
                                id:9752,
                                descripcion:"Porcentaje de población con Carencia por acceso a los servicios básicos en la vivienda",
                                porcentaje:74.94
                            },
                            {
                                id:9748,
                                descripcion:"Porcentaje de población con Rezago educativo",
                                porcentaje:33.37
                            },
                            {
                                id:9753,
                                descripcion:"Porcentaje de población con Carencia por acceso a la alimentación",
                                porcentaje:42.51
                            },
                            {
                                id:9755,
                                descripcion:"Porcentaje de población en situación de Pobreza Extrema",
                                porcentaje:49.61
                            },
                            {
                                id:9751,
                                descripcion:"Porcentaje de población con Carencia por calidad y espacios de la vivienda",
                                porcentaje:30.56
                            },
                            {
                                id:9750,
                                descripcion:"Porcentaje de población con Carencia por acceso a la seguridad social",
                                porcentaje:89.23
                            },
                            {
                                id:9754,
                                descripcion:"Porcentaje de población en situación de Pobreza",
                                porcentaje:94.98
                            },
                            {
                                id:9752,
                                descripcion:"Porcentaje de población con Carencia por acceso a los servicios básicos en la vivienda",
                                porcentaje:74.94
                            },
                            {
                                id:9748,
                                descripcion:"Porcentaje de población con Rezago educativo",
                                porcentaje:33.37
                            },
                            {
                                id:9753,
                                descripcion:"Porcentaje de población con Carencia por acceso a la alimentación",
                                porcentaje:42.51
                            },
                            {
                                id:9755,
                                descripcion:"Porcentaje de población en situación de Pobreza Extrema",
                                porcentaje:49.61
                            },
                            {
                                id:9751,
                                descripcion:"Porcentaje de población con Carencia por calidad y espacios de la vivienda",
                                porcentaje:30.56
                            },
                            {
                                id:9750,
                                descripcion:"Porcentaje de población con Carencia por acceso a la seguridad social",
                                porcentaje:89.23
                            },
                            {
                                id:9754,
                                descripcion:"Porcentaje de población en situación de Pobreza",
                                porcentaje:94.98
                            },
                            {
                                id:9752,
                                descripcion:"Porcentaje de población con Carencia por acceso a los servicios básicos en la vivienda",
                                porcentaje:74.94
                            },
                            {
                                id:9748,
                                descripcion:"Porcentaje de población con Rezago educativo",
                                porcentaje:33.37
                            },
                            {
                                id:9753,
                                descripcion:"Porcentaje de población con Carencia por acceso a la alimentación",
                                porcentaje:42.51
                            },
                            {
                                id:9755,
                                descripcion:"Porcentaje de población en situación de Pobreza Extrema",
                                porcentaje:49.61
                            },
                            {
                                id:9751,
                                descripcion:"Porcentaje de población con Carencia por calidad y espacios de la vivienda",
                                porcentaje:30.56
                            },
                            {
                                id:9750,
                                descripcion:"Porcentaje de población con Carencia por acceso a la seguridad social",
                                porcentaje:89.23
                            },
                            {
                                id:9754,
                                descripcion:"Porcentaje de población en situación de Pobreza",
                                porcentaje:94.98
                            },
                            {
                                id:9749,
                                descripcion:"Porcentaje de población con Carencia por acceso a los servicios de salud",
                                porcentaje:13.11
                            }
                        ]
                    },
                },
                journeyDetails: "Cargando mapa...",
                journeyStarted: true,
                mapReady:false,
                map:Object,
                mapView: null,
                minimize:false,
                origin: { latitude: 17.05, lngitude: -96.72 },
                parmas:[],
                polygons:[],
                width:screen.mainScreen.widthDIPs,
                height: screen.mainScreen.heightDIPs,
                zoom: 7,
                isBusy: false,
                colorList: ['#c11c23', '#b92775', '#93468e', '#9cbf3d', '#cd5b21', '#319859', '#9190a2', '#e9ba51', '#c98175', '#c9da98',
                            '#c198be', '#c197be', '#cc7a23', '#76c18d', '#93b690', '#7ed7c3', '#a6bbf7', '#69d1be', '#91acf9', '#f991c7',
                            '#8096e4', '#caf47f', '#f793b3', '#92e3f7', '#78d3dc', '#c4e971', '#daadc0', '#5cf95c', '#c4741e', '#f29ff3']
            }
        },
        created: function() {
            /* dont run the android permissions routine for iOS */
            if (platform.isIOS) {
                this.allowExecution = true;
                return;
            }
            /* list of permissions needed */
            let permissionsNeeded = [
                android.Manifest.permission.ACCESS_FINE_LOCATION,
                android.Manifest.permission.ACCESS_COARSE_LOCATION
            ];
            /* showing up permissions dialog */
            permissions
                .requestPermissions(permissionsNeeded, "Give it to me!")
                .then(() => {
                    this.allowExecution = true
                })
                .catch(() => {
                    this.allowExecution = false
                }
                );
            //ejecución en segundo plano para construir objetos de los polygonos.-..
        },
        methods: {
            /**
             * navega en el anterior municipio y solicita la actualización de las carencias
             * */
            prevMun(item){
                if(this.index==0){
                    this.index=this.top;
                }else{
                    this.index--;
                }

                this.getResponseMunicipio(this.params.selected.items[this.index].id, this.params.selected.filterBy)
            },
            /**
             * navega en el siguiente municipio  y solicita la actualización de las carencias
             * */
            nextMun(){
                if(this.index==this.top){
                    this.index=0;
                }else{
                    this.index++;
                }
                this.getResponseMunicipio(this.params.selected.items[this.index].id, this.params.selected.filterBy)
            },
            /**
             * solicita las carencias del siguiente municipio...
             * */
            getResponseMunicipio(id, filterBy){

                this.isBusy = true;

                switch (filterBy) {
                    case 'estado':
                        this.params.estado = "20";
                        break;
                    case 'region':
                        this.params.region = id;
                        break;
                    case 'distrito':
                        this.params.distrito = id;
                        break;
                    case 'municipio':
                        this.params.municipio = id;
                    default:
                        break;
                }

                const options = {
                    method: 'POST',
                    headers: { 'content-type': 'application/x-www-form-urlencoded' },
                    data: qs.stringify(this.params),
                    url: 'http://sgps.oaxaca.gob.mx/geoReference/geolo', //'http://172.31.1.5:8080/pub/geoReference/geolo'
                };
                axios(options).then((response) => {
                    //actualizan solo las carencias ya que el array de municipios seleccionados no debe modificarse
                    this.infoWindow = response.data;
                    clear()
                    this.isBusy = false;
                }, (error) => {
                    console.log("Error GEOLO: " + error);
                });
            },
            showData(showData, params){
                this.params = params;
                this.top = this.params.selected.items.length-1; //showData.response.length-1;
                this.infoWindow = showData;
                this.dialogInfo = true;
            },
            prev(){
                if(this.index==0){
                    this.index=this.top;
                }else{
                    this.index--;
                }
            },
            next(){
                if(this.index==this.top){
                    this.index=0;
                }else{
                    this.index++;
                }
            },
            dependencia(id){
                var item = this.$store.state.dependencias.filter(dep => dep.id == id);
                return item[0] ? item[0].siglas : this.$store.state.programas.filter(prog => prog.id == id)[0].id;
            },
            showDialog(){
                this.dialog = !this.dialog;
                this.dialogInfo = false;

                if(this.dialog == true){
                  if(this.polygons.length>0){
                      this.map.removePolygons(this.polygons);
                  }
                }
            },
            printPolygons(itemsSelected){
                console.log("items seleccionados-------->"+itemsSelected);
                var muns = this.filterPolygons(itemsSelected);

                muns.forEach(function(mun){
                    // un municipio puede tener varios poligonos se recorre el array
                    for(var x=0;x<mun.p.length;x++){
                        this.polygons.push(mun.id+"_"+x);
                        var polygon = new Polygon();
                        // esta linea es para que el id del objeto sea diferente, si no solo pintaria un poligono del municipio
                        polygon.id = mun.id+"_"+x;
                        polygon.points = mun.p[x];
                        polygon.fillColor = mun.c;
                        this.map.addPolygon(polygon).then().catch((error) => console.log("----------->>>>mapbox addPolygon: " + error));
                    }
                this.dialog=false;
                }.bind(this));
            },
            filterPolygons(itemsSelected){
                var muns=[];
                if(itemsSelected.filterBy=="region"){
                    var cont = 0;
                    itemsSelected.items.forEach(item=>{
                        munspol.forEach(polygon=>{
                            if(polygon.r==item.id){
                                polygon.c = this.colorList[cont];
                                muns.push(polygon);
                            }
                        });
                        cont++;
                        }
                    );
                }else if(itemsSelected.filterBy=="distrito"){
                    var muns=[];
                    var cont = 0;
                    itemsSelected.items.forEach(item=>{
                            munspol.forEach(polygon=>{
                                if(polygon.d==item.id){
                                    polygon.c = this.colorList[cont];
                                    muns.push(polygon);
                                }
                            });
                            cont++;
                        }
                    );
                }else if (itemsSelected.filterBy=="municipio") {
                    var muns=[];
                    itemsSelected.items.forEach(item=>{
                           munspol.forEach(polygon=>{
                                if(polygon.id==item.id){
                                    muns.push(polygon);
                                }
                            });
                        }
                    );
                }else if (itemsSelected.filterBy == "estado") {
                    munspol.forEach(polygon=>{
                        muns.push(polygon);
                    });
                }
                return muns;
            },
            removePolygons(){
              this.map.removePolygons(this.polygons);
              this.polygons=[];
            },
            async onMapReady(args) {
                console.log("el mapa está listo-------------------------------------------->"+args);
                this.mapReady=true;
                this.map=args.map;
                console.log("el mapa está listo-------------------------------------------->");
            },
        },
        components:{FormGeodatos},
        computed:{
            /**
             * controla el alto del modal pequeño que muestra la información de carencias del municipio,
             * this.height contiene el total de alto de la pantalla 110 el alto de la barra de titulo y al dividir se le da el 33% de alto
             * @returns {number}
             */
            heightInfo(){
                return this.minimize ?  60: ((this.height-110)/3)
            },
            /**
             * alterna el icono que se mostrara al minimizar
             */
            iconInfo(){
              return this.minimize ?  'fa-sort-up' : 'fa-sort-down'
            }
        }
    };
</script>

<style scoped>
    Button {
        font-size: 9px;
        background-color: #474747;
        color:white;
        width:25%;
    }
    ActionBar {
        background-color: #474747;
        color:white;
    }
    Page {
        background-color: #474747;
    }
    TextView {
        border-bottom-color: transparent;
        color:white;
        border-bottom-width: 1;
        padding: 15;
    }
    .btn-filter{
        margin-left: 80%;
        margin-top:2%;
        width: 56;
        height: 56;
        border-radius: 28;
        vertical-align: center;
    }
    .back-opacity{
        border-radius: 16%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 40px;
        margin:3%
    }
    .fab-item {
        width: 40;
        height: 40;
        margin-left: 10;
        border-radius: 20;
        color: #ffffff;
        font-weight: bold;
        vertical-align: center;
    }
    .info{
        border-radius: 16%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .icon-angle{
        font-size: 30px;
        color: #ffffff;
    }
    .data-aditional{
        border:1px black solid;
    }
    .scroll-info{
        margin-top: 15;
        color: #b6b2b7;
        background-color: rgba(255, 255, 255, 0);
    }
    .info-label{
        color: #ffffff;
        text-transform: uppercase;
    }

    .table{
        border-color: #e6ad2f;
        border-width: 1px;
        color: white;
        padding: 10px;
    }
</style>
