<template>
    <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView" >

        <StackLayout>
            <Label text="Herramienta con diferentes tipos de capas a través de la API del INEGI" class="subject_cop" textWrap="true" margin="25" ></Label>
            <!--<WebView src="https://google.com.mx" width="100%" height="1000" frameborder="0" />-->
            <!--  <WebView src="http://172.31.1.50:8085/seig/" width="100%" height="1000" frameborder="0" />-->
           <WebView src="http://187.157.106.86:8085/seig/" width="100%" height="1000" frameborder="0" />
        </StackLayout>

    </ScrollView>
</template>

<script>


    export default {
        name: "MapaDigital",
        data() {
            return {
                ruta: "<div style='background-color: #05fee3'><iframe src='http://187.157.106.86:8085/seig/' style='width: 100%;height: 100%'  frameborder='0'></iframe></div>"
            }
        },
        methods: {
            onLoadFinished(args) {
                let message;
                if (!args.error) {
                    message = "WebView finished loading " + args.url;
                } else {
                    message = "Error loading " + args.url + ": " + args.error;
                }
            }
        },
        created(){
            // orientation.setOrientation("landscape");
            // orientation.disableRotation()
        }
    }
</script>

<style scoped>

</style>
