<template>
    <StackLayout width="100%" :height="height-110" >

        <FlexboxLayout flexWrap="wrap" dock="top" class="action-bar" width="100%">
            <StackLayout class="p-10" @tap="openFilterPub">
                <Label :text="'fa-filter' | fonticon" class="fa action-item subtitle_cop m-b-5" horizontalAlignment="center"
                       @tap="openFilterPub" stretch="aspectFit" color="#FFFFFF"/>
                <Label text="Buscador" class="action-item subject_cop" horizontalAlignment="center"
                       stretch="aspectFit" color="#FFFFFF"/>
            </StackLayout>

            <StackLayout class="p-10" @tap="getTotalPorSexo" v-show="params.tipopadron == 'personas' && totalRegistros > 0">
                <Label :text="'fa-chart-pie' | fonticon" class="fa action-item subtitle_cop m-b-5" horizontalAlignment="center"
                        stretch="aspectFit" color="#FFFFFF" />
                <Label text="Gráfica por sexo" class="action-item subject_cop" horizontalAlignment="center"
                       stretch="aspectFit" color="#FFFFFF"/>
            </StackLayout>

            <StackLayout class="p-10" @tap="openisFormChart">
                <Label :text="'fa-chart-bar' | fonticon" class="fa action-item subtitle_cop m-b-5" horizontalAlignment="center"
                        stretch="aspectFit" color="#FFFFFF" />
                <Label text="Estadísticas" class="action-item subject_cop" horizontalAlignment="center"
                       stretch="aspectFit" color="#FFFFFF"/>
            </StackLayout>

            <StackLayout class="p-10" @tap="downloadExcel"  v-show="totalRegistros > 0">
                <Label :text="'fa-file-excel' | fonticon" class="fa action-item subtitle_cop m-b-5" horizontalAlignment="center"
                       stretch="aspectFit" color="#FFFFFF" />
                <Label text="EXCEL" class="action-item subject_cop" horizontalAlignment="center"
                       stretch="aspectFit" color="#FFFFFF"/>
            </StackLayout>

            <StackLayout class="p-10" @tap="downloadCsv" v-show="totalRegistros > 0">
                <Label :text="'fa-file-alt' | fonticon" class="fa action-item subtitle_cop m-b-5" horizontalAlignment="center"
                        stretch="aspectFit" color="#FFFFFF" />
                <Label text="CSV" class="action-item subject_cop" horizontalAlignment="center"
                       stretch="aspectFit" color="#FFFFFF"/>
            </StackLayout>

        </FlexboxLayout>

        <StackLayout orientation="horizontal">
            <Label :text="'Total: ' + totalRegistros" v-if="totalRegistros > 0" width="35%" textAlignment="center" class="m-5"/>
        </StackLayout>


        <!--pullToRefresh="true"-->
        <!--@pullToRefreshInitiated="onPullToRefreshInitiated"-->
        <AbsoluteLayout :width="width" :height="height-110">
            <StackLayout width="100%" height="96%" >

                <ListView :parent="this" width="99%" height="94%" v-if="dataView"></ListView>

                <StackLayout  width="94%" orientation="horizontal" v-show="totalRegistros > 0">
                    <Label :text="'fa-angle-double-left' | fonticon" width="46%" class="fa m-l-10 m-r-10 title_cop" textAlignment="left" @tap="previousData" v-if="numClick > 1"></Label> &lt;!&ndash;  &ndash;&gt;
                    <Label :text="'fa-angle-double-right' | fonticon" :width="numClick > 1 ? '46%' : '92%'" class="fa m-l-10 m-r-10 title_cop" textAlignment="right" @tap="nextData" v-if="numClick < numPages && totalRegistros > params.max"></Label> &lt;!&ndash;  &ndash;&gt;
                </StackLayout>

            </StackLayout>

            <AbsoluteLayout class="back-opacity" width="90%" height="94%" marginLeft="5%" v-if="isOpenFilter" >
                <ConsultaPub :parent="this"></ConsultaPub>
            </AbsoluteLayout>

            <AbsoluteLayout class="back-opacity" width="90%" marginLeft="5%" v-if="isFormChart">
                <FormChart :parent="this"></FormChart>
            </AbsoluteLayout>

<!--            <ActivityIndicator marginLeft="35%" :busy="isBusy" color="green" borderRadius="50" width="100" height="100" marginTop="250" />-->
            <Image :src="'~/assets/images/x.png'" class="icon-copeval"  horizontalAlignment="center" marginLeft="45%" width="15%" height="100" marginTop="250" v-if="isBusy"></Image>
        </AbsoluteLayout>
    </StackLayout>
</template>

<script>

    import axios from "axios";
    import qs from 'qs';

    const http = require('@nativescript/core/http');
    const utilsModule = require('@nativescript/core/utils/utils');
    const {device, screen} = require('@nativescript/core/platform');
    const permissions = require('nativescript-permissions');

    import ConsultaPub from "../resources/modals/ConsultaPub"
    import FormChart from "../resources/modals/FormChartStatistics"
    import ChartsModal from "../resources/modals/ChartsModal"
    import ListView from "../resources/modals/ListView"
    import { AutoCompleteCompletionMode, AutoCompleteDisplayMode, AutoCompleteSuggestMode } from 'nativescript-ui-autocomplete';
    import ListPickerI from "../resources/FindList/ListPickerI";
    import ClosablePanel from "./../resources/Containers/ClosablePanel";

    export default {
        name: "Pub",
        data() {
            return {
                selectedIndex: 0,
                ruta: "http://sgps.oaxaca.gob.mx/publico/consulta?id=movil",
                displayMode: AutoCompleteDisplayMode.Tokens,
                suggestMode: AutoCompleteSuggestMode.Suggest,
                completionMode: AutoCompleteCompletionMode.StartsWith,
                nomatch:false,
                searchQuery: "",
                dependencias: [],
                isOpenFilter: true,
                isFormChart: false,
                isBusy: false,
                height:screen.height,
                width:screen.width,
                dataList:[],
                params: {},
                totalRegistros: 0,
                scrollEnabled: true,
                cont: 0,
                dataView: true,
                numPages: 0,
                numClick: 1,
                scrollOffset: 0,
                periodoList: [
                    {id:1, nombre: 2016},
                    {id:2, nombre: 2017},
                    {id:3, nombre: 2018},
                    {id:4, nombre: 2019},
                    {id:5, nombre: 2020},
                    {id:6, nombre: 2021}
                ]
            }
        },
        methods: {
            /**
             * Obtener valores de la petición realizada en la consulta, para su visualización.
             * Los datos se obtiene desde el componente ConsultaPub
             * */
            getData(data, params) {
                this.dataView = true;
                this.dataList = data;
                this.totalRegistros = data.total;
                this.params = params;
                this.numPages = parseInt((data.total % this.params.max) > 0 ? (data.total / this.params.max) + 1 : (data.total / this.params.max), 10);
            },
            openFilterPub() {
                //Abrir o cerrar modal de Consulta isFormChartPub
                this.isOpenFilter = !this.isOpenFilter;
                this.isFormChart = false;
            },
            openisFormChart() {
                // Abrir o cerrar modal para visualización de gráficas.
                this.isFormChart = !this.isFormChart;
                this.isOpenFilter = false;
            },
            onTap() {
                this.scrollEnabled = !this.scrollEnabled;
            },
            // Visualizar datos anteriores de la consulta realizada
            previousData() {
                this.numClick -= 1;
                this.searchingData(this.numClick)
            },
            // Visualizar datos posteriores de la consulta realizada
            nextData() {
                this.numClick += 1;
                this.searchingData(this.numClick)
            },
            // Buscar datos de acuerdo a la petición realizada si anterior o posteriormente
            searchingData(page) {
                this.isBusy = true; // Loading
                this.params.offset = (page - 1) * this.params.max;
                this.params.total = this.totalRegistros;

                const options = {
                    method: 'POST',
                    headers: {'content-type': 'application/x-www-form-urlencoded'},
                    data: qs.stringify(this.params),
                    url: "http://sgps.oaxaca.gob.mx/publico/findAllPersonas",
                    // url: "http://172.31.1.10:8080/pub/publico/findAllPersonas",
                };

                axios(options).then((response) => {
                    this.dataList = response.data; //response.content.toJSON();
                    this.dataView = true;
                    this.isBusy = false;
                }, (error) => {
                    console.log("Error: " + error);
                });
            },
            getTotalPorSexo() {
                // Petición para la visualización de gráfica de pastel del programa solicitado por sexo.
                this.openModalCharts("http://sgps.oaxaca.gob.mx/publico/loadchart", 'porGenero', this.params);
            },
            getEstadisticas(params) {
                // Petición para la visualización de gráficas Estadistícas
                this.openisFormChart();
                this.openModalCharts("http://sgps.oaxaca.gob.mx/publico/getEstadistica", 'estadistica', params);
            },
            // Modal para mostrar las graficas de acuerdo a la petición solicitada por sexo o estadísticas
            openModalCharts(url, type, params) {
                this.isBusy = true;

                params.items = [];

                params.nombre ? (this.params.nombre = '') : '';
                params.apellidoPaterno ? (this.params.apellidoPaterno = '') : '';
                params.apellidoMaterno ? (this.params.apellidoMaterno = '') : '';

                const options = {
                    method: 'POST',
                    headers: { 'content-type': 'application/x-www-form-urlencoded' },
                    data: qs.stringify(params),
                    url: url,
                };
                axios(options).then((response) => {
                    var values = type == 'porGenero' ? response.data : response.data.data;

                    params.title = values.title.text.replace("<br>", "\n");
                    params.chartType = values.series[0].type ? values.series[0].type : response.data.chart;
                    var cont = 0;

                    if (type == 'estadistica' && params.chartType == 'pie') {
                        params.items = values.series[0].data;
                        params.showPercentage = true;
                    }else{
                        params.showPercentage = false;

                        values.series[0].data.forEach(function (val) {
                            var object;
                            if (type == 'porGenero'){
                                object = {name: val[0], y: val[1]};
                            }else{
                                var categorie = (values.xAxis.categories ? values.xAxis.categories[cont] : this.periodoList[cont].nombre);

                                if (params.chartType == 'piramide'){
                                    object = {name: categorie, hombres: val, mujeres:values.series[1].data[cont]}
                                }else{
                                    object = {name: categorie, y: val};
                                }
                            }
                            params.items.push(object);
                            cont++;
                        }.bind(this));
                    }

                    this.$showModal(ChartsModal, {
                        fullscreen: true,
                        props: {
                            params: params,
                            url: url,
                            type: type,
                            parent: this
                        }
                    });

                    //this.isBusy = false;
                }, (error) => {
                    console.log("Error: " + error);
                });
            },
            downloadExcel(args) {
                this.downloadFile("http://sgps.oaxaca.gob.mx/publico/downloadBeneficiariosExcel", ".xls")
            },
            downloadCsv() {
                this.downloadFile("http://sgps.oaxaca.gob.mx/publico/donwloadBeneficiarios", ".csv")
            },
            downloadFile(url, extension) {
                permissions.requestPermission(android.Manifest.permission.WRITE_EXTERNAL_STORAGE)
                    .then(() => {
                        console.log('Required Android permissions have been granted');
                    })
                    .catch(() => {
                        console.error('Required Android permissions have been denied!');
                    });

                this.params.totalregistros = this.totalRegistros;

                http.request({
                    url: url,
                    method: "POST",
                    headers: {"Content-Type": "application/x-www-form-urlencoded"},
                    content: qs.stringify(this.params)
                }).then((response) => {
                    var resultado = response.content.toJSON();

                    utilsModule.openUrl(resultado.ruta);

                    setTimeout(function () {
                        this.deleteFile("/reportes/publico/" + resultado.fileName);
                    }.bind(this), 3000);

                }, (e) => {
                    console.log("ERROR -------> " + e);
                });
            },
            deleteFile(pathFile) {
                var resultado;

                var params = {pathFile: pathFile};

                http.request({
                    url: "http://sgps.oaxaca.gob.mx/publico/deleteFileApp",
                    method: "POST",
                    headers: {"Content-Type": "application/x-www-form-urlencoded"},
                    content: qs.stringify(params)
                }).then((response) => {
                }, (e) => {
                    //console.log("ERROR -------> " + e)
                });
            },
            onItemTap({item}) {
                //console.log(`Tapped on ${item}`);
            },
            onPullToRefreshInitiated({object}) {
                //console.log('Pulling...');
                // in order to avoid race conditions (only on iOS),
                // in which the UI may not be completely updated here
                // we use this.$nextTick call
                this.$nextTick(() => {
                    //console.log("NUM CLICK ---> " + this.numClick + " --- numPages---> " + this.numPages);
                    if (this.numClick == this.numPages)
                        this.previousData();
                    else
                        this.nextData();
                    object.notifyPullToRefreshFinished();
                });
            },
            onScrolled({scrollOffset}) {
                this.scrollOffset = scrollOffset;
                //console.log("ONSCROLLED ------> " + this.scrollOffset);
            },
            onLoadMoreItemsRequested(args) {
                //console.log("NUM CLICK ---> " + this.numClick + " --- numPages---> " + this.numPages);
                if (this.numClick == this.numPages)
                    this.previousData();
                else
                    this.nextData();
                this.$refs.listView.nativeView.notifyLoadOnDemandFinished();

                //console.log("Actualizando datos!!!!")
            }
    },
        computed: {
            scrollText () {
                return `Scrolled to ${this.scrollOffset} offset`;
            },
            filteredDependencias() {
                if (this.searchQuery !== "") {
                    let temp = this.dependencias.filter(city =>
                        city.nombre.toLowerCase().includes(this.searchQuery.toLowerCase()),
                    );

                    this.consulta.dependencia.push(temp[0]);

                    return
                }
            },
        },
        created(){
            //console.log("HEIGHT ----> " + this.height + " WIDTH -----> " +  this.width)
        },
        components: { ListPickerI, ConsultaPub, ListView, FormChart, ClosablePanel}
    }
</script>

<style scoped>
    .action-bar {
        background-color: #601278;
    }

    .back-opacity{
        border-radius: 16%;
        background-color: rgba(0, 0, 0, 0.5);
    }

</style>
