<template>
    <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView" backgroundColor="#9B3792">

        <GridLayout rows="50, *, 50">
            <StackLayout row="0" orientation="horizontal" horizontalAlignment="center" height="20">
                <!--<Image height="30" src="~/images/marvel-logo.png" stretch="aspectFit" horizontalAlignment="center" class="logo" />-->
            </StackLayout>

            <template v-if="index === 0">
                <RevistasMenu row="1" v-if="revistas.length !=0" ref="listRevistas"
                              :revistas="revistas"
                              :selected-index="selectedMovieIndex"
                              @update:selected="onSelectedMovie" />
            </template>

            <InvestigacionesMenu row="1" v-if="index === 1"  ref="listInvestigaciones"
                                 :investigaciones="investigaciones"
                                 :investigacion-index="selectedMovieIndex"
                                 @update:selected="onSelectedMovie" />

        </GridLayout>
    </ScrollView>
</template>

<script>
    import InvestigacionesMenu from "../resources/InvestigacionesMenu";
    import RevistasMenu from "../resources/RevistasMenuComponent";
    const http = require("tns-core-modules/http");
    import investigaciones from "../../data/investigaciones.json";

    export default {
        name: "App",

        components: {
            InvestigacionesMenu,
            RevistasMenu
        },
        created(){
            this.tabIndex = 1;
            this.getRevistas().then(response => {
                this.revistas = response.data;
                this.$refs.listRevistas.nativeView.refresh();

            });
            this.getInvestigaciones().then(response => {
                console.log("response investigaciones", response.data.length)
                this.investigaciones = response.data;
                this.$refs.listInvestigaciones.nativeView.refresh();

            }).catch((response)=>{
                console.log("response---error-->",response)
            })
        },
        mounted(){

        },
        data() {
            return {
                tabIndex: 0,
                revistas: [],
                investigaciones: [],
                selectedMovieIndex: 0,
            };
        },
        props:['index',"typeView"],
        methods: {
            onSelectedIndexChange(index) {
                this.tabIndex = index.value;
            },

            async getRevistas(){
                return new Promise (async (resolve, reject)=> {

                    const items = await http.request({
                        url: "http://sostenible.oaxaca.gob.mx/revista/home/findAllRevistaActivo",
                        method: "GET",
                        headers: {"Content-Type": "application/json,text/html"},
                    }).then((response) => {
                        let arr= JSON.parse(response.content)
                        let newArray = new Array()
                        arr.forEach(item=>{
                            item.portada = item.portada.replace("https","http")
                            item.ruta = item.ruta.replace("https","http")
                            newArray.push(item)
                        })
                        return newArray
                    }, (e) => {
                        console.log("ERROR -------> " + e)
                        return []
                    });
                    resolve ({success:true, data: items})
                    reject ({success:false, data: []})

                });

            },

            async getInvestigaciones(){
                return new Promise (async (resolve, reject)=> {

                    let url = 'http://sostenible.oaxaca.gob.mx/revistas/listInvestigaciones';

                    const items = await http.request({
                        url: url,
                        method: "GET",
                        headers: {"Content-Type": "application/json,text/html"},
                    }).then((response) => {
                        let arr= JSON.parse(response.content)
                        console.log("ERROR getInvestigaciones-------> ", arr.results)
                        let newArray = new Array()
                        arr.results.forEach(item=>{
                            console.log("array de investigaciones--->", item)
                            item.portadaRuta = item.portadaRuta.replace("https","http")
                            item.ruta = item.ruta.replace("https","http")
                            newArray.push(item)
                        })
                        console.log("array de investigaciones", newArray)
                        return newArray
                    }, (e) => {
                        console.log("ERROR getInvestigaciones-------> " + e)
                        return investigaciones.results
                    });
                    resolve ({success:true, data: items})
                    reject({success:false, data: investigaciones.results})

                });

            },

            onSelectedMovie(index) {
                this.selectedMovieIndex = index;
            }
        }
    };
</script>

<style scoped lang="scss">
    .logo {
        margin: 20px 0;
    }

    .tab {
        text-align: center;
        font-weight: 700;
        font-size: 19px;
        background: #000;
        color: #fff;
        text-transform: capitalize;

        &.is-active {
            background: #fff;
            color: #000;
        }
    }
</style>
