<template>
    <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView" >
        <StackLayout class="cardContent" orientation="vertical">
            <Label :text="mensaje" class="subject_cop" textWrap="true" margin="15"/>

            <FlexboxLayout flexWrap="wrap" horizontalAlignment="center">
                <card-view class="cardStyle card-width-acc-cop m-b-20" horizontalAlignment="center">
                    <StackLayout>
                        <Image :src="'~/assets/images/serviciosTecnologicos/cuadro1.png'"></Image>

                        <Label text="Digitalización" textAlignment="center" class="card-title subtitle_cop" textWrap="true" />
                        <Label :text="msgDigitalizacion" class="card-text subject_cop" textWrap="true"></Label>
                    </StackLayout>

                </card-view>

                <card-view class="cardStyle card-width-acc-cop m-b-10 m-r-10" horizontalAlignment="center">
                    <StackLayout>
                        <Image :src="'~/assets/images/serviciosTecnologicos/cuadro2.png'"></Image>
                        <Label text="Desarrollo de Sistemas" textAlignment="center" class="card-title subtitle_cop"></Label>
                        <Label :text="msgSistemas" class="card-text subject_cop" textWrap="true"></Label>
                    </StackLayout>
                </card-view>
            </FlexboxLayout>

        </StackLayout>
    </ScrollView>
</template>

<script>

    const {device, screen} = require('@nativescript/core/platform');
    import * as app from 'tns-core-modules/application'

    export default {
        name: "ServiciosTecnologicos",
        data(){
            return{
                mensaje: "Promovemos el desarrollo de nuevas tecnologías y la aplicación de las existentes " +
                    " como apoyo para la planeación y el monitoreo a partir de la caracterización de las " +
                    " necesidades de los organismos involucrados en el sector de desarrollo social, brindando la " +
                    " oportunidad de integrar proyectos de digitalización y desarrollo de sistemas informáticos. \n",
                msgDigitalizacion: "Contamos con equipos que permiten digitalizar imágenes y datos a gran escala " +
                    " para la integración de archivos y expedientes digitales, lo cual representa una oportunidad " +
                    " de mayor organización y mejora de los procesos en el desarrollo de las tareas y funciones de los organismos.",
                msgSistemas: "Buscamos desarrollar nuevas tecnologías y métodos que permitan hacer más eficiente " +
                    " las actividades del capital humano en las áreas de trabajo, creando software especializado " +
                    " de acuerdo a las características y necesidades de los distintos organismos permitiendo " +
                    " brindar una mejor atención a sus beneficiarias y beneficiarios.",
                widthCard: (screen.width < 640 ? 90 : 46),
                widthScreen: screen.width,
            }
        },
        created(){
            app.on(app.orientationChangedEvent, function(args) {
                if (args.newValue == 'portrait'){
                    this.widthCard = 90;
                    this.width = screen.width;
                }
                else{
                    this.widthCard = 46;
                    this.width = screen.height; // por eso el height es adignado al width
                }
            }.bind(this));
        }
    }
</script>

<style scoped>
    .card-title{
        color: purple;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .card-text {
        color: #747373;
        margin: 30px;
    }
</style>