<template>
    <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView" v-if="investigaciones.length>0" backgroundColor="#9B3792">
        <Label>Investigaciones Menu Component</Label>
        <StackLayout>
            <Label class="investigaciones-timeline__title title_cop text-center" :text="revista.nombre"  backgroundColor="#9B3792" textWrap="true" />

            <GridLayout :rows="heightImage +', *'"  height="80%">
                <Carousel ref="myCarousel" v-if="investigaciones.length>0" height="90%" width="100%" backgroundColor="#9B3792" @pageChanged="onSelect" android:indicatorAnimation="slide" indicatorColor="#fff" indicatorOffset="0, -10" showIndicator="true">
                    <CarouselItem v-for="(revista, i) in investigaciones" :key="i"  verticalAlignment="middle" @tap="goToRevista(revista.ruta)">
                        <GridLayout>
                            <Image :src="revista.portadaRuta"
                                   height="100%"
                                   width="100%"
                                   class="thumb investigaciones-timeline__item"
                                   stretch="aspectFit"
                            />
                        </GridLayout>
                    </CarouselItem>
                </Carousel>

                <ScrollView row="1" minHeight="100%">
                    <StackLayout class="investigaciones-timeline__revista" :class="{ 'is-watched': revista.watched }" minHeight="100%">
                        <Label class="investigaciones-timeline__total subtitle_cop" horizontalAlignment="right">
                            <FormattedString>
                                <Span text="Revista: " class="subtitle_cop"/>
                                <Span :text="selectedIndex + 1" class="subtitle_cop" fontWeight="bold" />
                                <Span :text="` de ${investigacionesCount}`" class="subtitle_cop"/>
                            </FormattedString>
                        </Label>

                        <Label :text="revista.descripcion" textWrap="true" class="subtitle_cop" marginTop="10" />
                    </StackLayout>
                </ScrollView>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</template>

<script>

    import Vue from "nativescript-vue";
    import FlipBook from "../pages/FlipBookWebView";

    const {device, screen} = require('@nativescript/core/platform');

    Vue.registerElement('Carousel', () => require('nativescript-carousel').Carousel);
    Vue.registerElement('CarouselItem', () => require('nativescript-carousel').CarouselItem);


    export default {

        name: "Investigaciones",

        props: {

            investigaciones: {
                type: Array,
                required: true
            },

            investigacionIndex: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                currentIndex:0,
                heightImage: 0,
                widthImage: 0,
                selectedIndex:0,
                message: "La gaceta digital de COPEVAL, es una publicación bimestral donde se expresan los avances de investigación, perspectivas y opiniones desde las que se estudia el presente y se planea el futuro del desarrollo en Oaxaca. Los artículos que se publican dan cuenta de forma  breve y documentada, de los resultados de los trabajos sobre desarrollo sostenible, estrategias de inclusión, combate a la pobreza y  emprendimientos sociales que realizan sus autores."
            }
        },

        created(){
            this.widthDIPs = screen.mainScreen.widthDIPs;
            this.selectedIndex = this.investigacionIndex;
        },

        computed: {

            revista() {
                return this.investigaciones[this.selectedIndex];
            },

            investigacionesCount() {
                return this.investigaciones.length;
            },

            watchedButtonLabel() {
                return this.revista.watched ? "Add to watch list" :
                    "Watched it";
            },

            selectedMovie() {
                return this.investigaciones[this.selectedIndex];
            },
        },

        mounted(){
            if (this.widthDIPs >= 800){
                this.heightImage = 820;
            }

            else{
                this.heightImage = 420;
            }
        },

        methods: {

            goToRevista(file){
                this.$navigateTo(FlipBook, {
                    animated: true,
                    transition: {
                        name: "slideLeft",
                        duration: 250,
                        curve: "easeIn",
                    },
                    props: {
                        action: file
                    }
                });
            },

            onButtonTap() {
                const selectedMovie = this.investigaciones[this.selectedIndex];
                const currentToWatch = selectedMovie.watched;

                this.$set(
                    this.investigaciones,
                    this.selectedIndex,
                    Object.assign(selectedMovie, {
                        watched: !currentToWatch
                    })
                );
                this.$refs.pagerView.nativeView.refresh(true);
            },

            onSelect(event) {
                this.selectedIndex=event.index;
            }
        }
    };
</script>

<style lang="scss">

    @import '../../app.scss';
    .investigaciones-timeline {

        &__item {
            opacity: 1;

            &.is-watched {
                opacity: 0.5;
            }
        }


        &__revista {
            color: $text-color;

            &.is-watched {
                color: $color-disabled;

                .investigaciones-timeline__total {
                    color: $color-disabled;
                }
            }
        }

        &__title {
            padding: 30px;
            border-radius: 8px;
            font-weight: bold;
            border-bottom-color: $copeval-purple;
            color:white;
            background-color: green;
        }

        &__button {
            color: $text-white-color;
            background: #FFF;
            border-radius: 8px;
            height: 50px;
            padding: 0 10px;
            text-transform: capitalize;
        }

        &__total {
            padding: 10px;
            color: #FFF;
            background: $copeval-purple;
            border-radius: 8px;
        }

        &__desc {
            margin-top: 30px;
        }
    }
</style>
