<template>
    <Page :class="typeView === 'Revista Sostenible' || typeView === 'Investigacion social' ? 'publicacion' : 'page'"
          androidStatusBarBackground="#eb2328" >

        <ActionBar class="action-bar">
            <ios>
                <NavigationButton visibility="collapse"/>
            </ios>

            <GridLayout width="90%" columns="auto, *, auto">
                <Label :text="'fa-bars' | fonticon" class="fa subtitle_cop" @tap="toggleDrawer()" verticalAlignment="left" textAlignment="left" col="0" />
                <Label :text="typeView" class="subtitle_cop" col="1" textAlignment="center"/>
                <Label :text="'fa-ellipsis-v' | fonticon" class="fa subtitle_cop m-r-10" col="2" verticalAlignment="center" horizontalAlignment="left" textAlignment="left" @tap="openModalAcerca"/>
            </GridLayout>
        </ActionBar>

        <RadSideDrawer ref="drawer" @drawerOpened="onDrawerOpened()" @drawerClosed="onDrawerClosed()" drawerContentSize="300">
            <StackLayout ~drawerContent backgroundColor="#eee" >
                <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView" >
                    <StackLayout>
                        <Image :src="'~/assets/images/header.png'" paddingTop="0"></Image>
                        <StackLayout v-for="item in menuHome" :key="item.index" orientation="horizontal" margin="15" @tap="goTo(item.action)">
                            <Image col="0" :src="item.icono" width="40" height="40"></Image>
                            <Label :text="item.title" col="1" marginLeft="20" fontWeight="bold" class="subject_cop text-black" textWrap="true" />
                        </StackLayout>
                    </StackLayout>
                </ScrollView>
            </StackLayout>

            <StackLayout ~mainContent>

                <AccionesDesarrollo v-if="typeView === 'Acciones Desarrollo'"></AccionesDesarrollo>
                <ComoVamos v-if="typeView === 'Como vamos'"></ComoVamos>
                <ServiciosTecnologicos v-if="typeView == 'Servicios tecnológicos'"></ServiciosTecnologicos>
                <Revistas v-if="typeView === 'Investigacion social'" :index="1"></Revistas>
                <Pub v-if="typeView === 'PUB'" ></Pub>
                <MapaDigital v-if="typeView === 'Mapa Digital'"></MapaDigital>
                <Georreferencia v-if="typeView === 'Georreferencia'"></Georreferencia>
                <Agenda2030 v-if="typeView === 'Agenda 2030'" ></Agenda2030>
                <Revistas v-if="typeView === 'Revista Sostenible'" :index="0"></Revistas>
                <E40 v-if="typeView === 'Estrategia E-40'"></E40>
<!--                <MapaCovid v-if="typeView === 'Mapa Covid'"></MapaCovid>-->


            </StackLayout>
        </RadSideDrawer>
    </Page>
</template>

<script>

    import Home from "../Home";
    import AccionesDesarrollo from "../pages/AccionesDesarrollo";
    import ComoVamos from "../pages/ComoVamos";
    import ServiciosTecnologicos from "../pages/ServiciosTecnologicos"
    import Pub from "../pages/Pub"
    import MapaDigital from "../pages/MapaDigital"
    import Agenda2030 from "../pages/Agenda2030"
    import MenuSlider from "./MenuSlider"
    import Revistas from "../pages/RevistasComponent"
    import E40 from "../pages/E40";
    import FabButton from "./FloatButton/FabButton";
    import ModalAcercaDe from "./modals/ModalAcercaDe";
    import Georreferencia from "../pages/Georreferencia";

    export default {
        name: "MenuSlider",
        data(){
            return {
                drawerToggle: false,
                visibleAcercaDe: false,
                menuHome: [{
                    icono: "~/assets/images/x.png",
                    title: "Inicio",
                    action: "home",
                    index: 0
                },
                    {
                        icono: "~/assets/images/menu/acciones_desarrollo.png",
                        title: "Acciones Desarrollo",
                        action: "Acciones Desarrollo",
                        index: 1
                    },
                    {
                        index:2,
                        icono:'~/assets/images/menu/pub.png',
                        title:'PUB',
                        action: 'PUB'
                    },
                    {
                        icono: "~/assets/images/menu/como_vamos.png",
                        title: "¿Cómo vamos?",
                        action: "Como vamos",
                        index: 3
                    },
                    {
                        icono: "~/assets/images/menu/mapadigital.png",
                        title: "Mapa digital",
                        action: "Mapa Digital",
                        index: 4
                    },
                    {
                        icono: "~/assets/images/menu/georreferencia.png",
                        title: "Georreferencia",
                        action: "Georreferencia",
                        index: 5
                    },
                    {
                        icono: "~/assets/images/menu/servicios_tecnologicos.png",
                        title: "Servicios tecnológicos",
                        action: "Servicios tecnológicos",
                        index: 6
                    },
                    {
                        icono: "~/assets/images/menu/investigacion_social.png",
                        title: "Investigación social",
                        action: "Investigacion social",
                        index: 7
                    },
                    {
                        icono: "~/assets/images/menu/logo_revista_sostenible.png",
                        title: "Revista sostenibilidad",
                        action: "Revista Sostenible",
                        index: 8
                    },
                    {
                        icono: "~/assets/images/agenda2030/agenda2030.png",
                        title: "Agenda 2030",
                        action: "Agenda 2030",
                        index: 9
                    },
                    {
                        icono: "~/assets/images/menu/e40.png",
                        title: "Estrategia E-40",
                        action: "Estrategia E-40",
                        index: 10
                    }/*,{
                        id:11,
                        image:'~/assets/images/menu/marker.png',
                        title:'Mapa COVID',
                        descripcion:'En este mapa podrás visualizar la evolución de la contingencia COVID-19',
                        action: "Mapa Covid"
                    }*/

                ]
            };
        },
        props: ["typeView"],
        methods: {
            onDrawerClosed() {
                this.drawerToggle = false;
            },
            onDrawerOpened() {
                this.drawerToggle = true;
            },
            toggleDrawer() {
                this.$refs.drawer.nativeView.toggleDrawerState();
            },
            onOptionsOpened(){
                this.visibleAcercaDe = true
            },
            onOptionsClosed(){
                this.visibleAcercaDe = false
            },
            /**
             * Ir al menú correspondiente según la opción seleccionado en el Menu Slider
             * */
            goTo(params){
                if (params === 'home'){
                    this.$navigateTo(Home, {
                        animated: false,
                        transition: {
                            name: "slideLeft",
                            duration: 250,
                            curve: "easeIn",
                        }
                    });
                }else{
                    this.navigateTo(params);
                }
            },
            /**
             * Cargar el template correspondiente al menú seleccionado.
             * */
            navigateTo(link){
                this.$navigateTo(MenuSlider, {
                    animated: false,
                    transition: {
                        name: "slideInUp",
                        duration: 1600,
                        curve: "easeIn",
                    },
                    props: {
                        typeView: link,
                    }
                });
            },
            showButtonAcerca(){
                this.$refs.drawerAcerca.nativeView.toggleDrawerState();
            },
            openModalAcerca(){
                this.visibleAcercaDe = "collapse";

                this.$showModal(ModalAcercaDe, {
                    fullscreen: false,
                    width: '90%'
                });
            },
        },
        created(){
        },
        components: {
            FabButton,
            E40,
            Home,
            AccionesDesarrollo,
            ComoVamos,
            ServiciosTecnologicos,
            Pub,
            MapaDigital,
            Georreferencia,
            Agenda2030,
            Revistas
        },
    }
</script>

<style scoped lang="scss">
    $copeval-purple: #9B3792;
    .publicacion {
        background: linear-gradient(to bottom, $copeval-purple, #f5f4f4, #FFF);
        color: #fff;
        //font-family: Helvetica, sans-serif;
    }

    .logo {
        margin: 20px 0;
    }

    .tab {
        text-align: center;
        font-weight: 700;
        font-size: 19px;
        background: #000;
        color: #fff;
        text-transform: capitalize;

        &.is-active {
            background: #fff;
            color: #000;
        }
    }
</style>