<template>
    <Page class="page" actionBarHidden="true" backgroundSpanUnderStatusBar="true" ref="view">

        <StackLayout class="window" >
            <ScrollView scrollBarIndicatorVisible="false">
                <StackLayout>
                    <Label horizontalAlignment="center" :text="'fa-chevron-down' | fonticon"
                           class="fa buttonRounded title_cop"
                           marginBottom="2"
                           @tap="closeRep()"
                           @swipe="slideFinger">
                    </Label>
                    <Label :text="titleAudio" class="song-title title_cop"
                        fontWeight="400" padding="20 10 20 10"
                        horizontalAlignment="center"></Label>
                    <Label  ref="lblMessage" :text="'Voz: ' + creditoTemp" class="sfl fw100 w subtitle_cop"
                           fontWeight="400" padding="20 10 20 10"
                           horizontalAlignment="center" textWrap="true"></Label>
                    <Progress :value="progress" class="m-20"/>

                    <GridLayout columns="*, *, *, *, *" rows="100" padding="20 15 10 19">
                        <Label @tap="prevTrack()"
                               verticalAlignment="center"
                               row="0" col="1"
                               :text="'fa-caret-left' | fonticon"
                               class="fa buttonRounded title_cop"
                               padding="15 0"
                               fontSize="32"
                               marginRight="15"
                               textAlignment="center"></Label>
                        <Label @tap="playPause()"
                               verticalAlignment="center"
                               row="0" col="2"
                               :text="isPlaying ? 'fa-stop' : 'fa-play' | fonticon"
                               class="fa buttonRounded title_cop"
                               marginBottom="2"
                               padding="20 0"
                               fontSize="32"
                               textAlignment="center"></Label>

                        <Label @tap="nextTrack()"
                               verticalAlignment="center"
                               row="0" col="3"
                               :text="'fa-caret-right' | fonticon"
                               class="fa buttonRounded title_cop"
                               padding="15 0"
                               fontSize="32"
                               marginLeft="20"
                               textAlignment="center"></Label>
                    </GridLayout>


                    <StackLayout v-for="audio in audioList" :key="audio.id" @tap="doPlay(audio)">
                        <GridLayout rows="auto, auto" columns="*, auto" margin="15 15 0 15" paddingBottom="15">
                            <Label row="0" col="0" class="sfl w subtitle_cop" :text="audio.title"
                                   paddingBottom="8" fontWeight="400"></Label>
                            <Label row="1" col="0" class="sfl w subject_cop" fontWeight="400" :text="'Voz: ' + audio.creditos" textWrap="true"></Label>
                            <Label row="0" col="1" :text="isPlaying ? 'fa-caret-right' : 'fa-play' | fonticon" rowSpan="2"  class="fa buttonRounded title_cop"></Label>
                        </GridLayout>
                        <Label text="" class="border-b" height="1"></Label>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </StackLayout>
    </Page>
</template>

<script>
    const audio = require('nativescript-audio');
    const httpModule = require("@nativescript/core/http");
    const permissions = require("nativescript-permissions");

    // import * as fileSystem from "tns-core-modules/file-system";

    let player = new audio.TNSPlayer();
    var gestures = require("@nativescript/core/ui/gestures");

    export default {
        data() {
            return {
                audioList: [
                    { id:0,
                        icon: true,
                        title: 'Mixe Tamazulápan',
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
                        file: "mixe-tamazulapan.mp3",
                        url: "http://sgps.oaxaca.gob.mx/audios/mixe-tamazulapan.mp3", //'mixe-tamazulapan.mp3',
                        creditos:'Micaela Jiménez García, Estudiante de la Carrera de Técnico Superior Universitario en Agricultura Sustentable y Protegida de la Universidad Tecnológica de los Valles Centrales de Oaxaca (UTVCO) y originario de la comunidad de Tamazulapam del Espíritu Santo.'
                    },
                    { id:1,
                        icon: true,
                        title: 'Mixteco Santiago Tlazoyaltepec',
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
                        file: "mixteco_santiago_tlazoyaltepec.mp3",
                        url: "http://sgps.oaxaca.gob.mx/audios/mixteco_santiago_tlazoyaltepec.mp3", //'mixteco_santiago_tlazoyaltepec.mp3',
                        creditos:'Avigail Ramírez Santiago, Estudiante de la Carrera de Ingeniería en Desarrollo e Innovación Empresarial de la Universidad Tecnológica de los Valles Centrales de Oaxaca (UTVCO) y originario de la comunidad de Gachupin, Santiago Tlazoyaltepec.'
                    },
                    { id:2,
                        icon: true,
                        title: 'Zapoteco San Bartolomé Quialana',
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
                        file: "zapoteco_san_bartolome_quialana.mp3",
                        url: "http://sgps.oaxaca.gob.mx/audios/zapoteco_san_bartolome_quialana.mp3", //'zapoteco_san_bartolome_quialana.mp3',
                        creditos:'Alma Rita Morales Pérez, Estudiante de la Carrera de Ingeniería en Agricultura Sustentable y Protegida de la Universidad Tecnológica de los Valles Centrales de Oaxaca (UTVCO) y originario de la comunidad de San Bartolomé Quialana.'
                    },
                    { id:3,
                        icon: true,
                        title: 'Zapoteco de Miahuatlán',
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
                        file: "zapoteco_de_Miahuatlan.mp3",
                        url: "http://sgps.oaxaca.gob.mx/audios/zapoteco_de_Miahuatlan.mp3", //'zapoteco_de_Miahuatlan.mp3',
                        creditos:'Moisés Fidel Osorio Osorio, estudiante de la Carrera de Ingeniería en Desarrollo e Innovación Empresarial de la Universidad Tecnológica de los Valles Centrales de Oaxaca (UTVCO) y originario de la comunidad de San Vicente Coatlán.'
                    },
                    { id:4,
                        icon: true,
                        title: 'Zapoteco de Santiago Apóstol',
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
                        file: "zapoteco_de_santiago_apostol.mp3",
                        url: "http://sgps.oaxaca.gob.mx/audios/zapoteco_de_santiago_apostol.mp3", //'zapoteco_de_santiago_apostol.mp3',
                        creditos:'Fernando Contreras López, Estudiante de la Carrera de Licenciatura en Gastronomía de la Universidad Tecnológica de los Valles Centrales de Oaxaca (UTVCO) y originario de la comunidad de Santiago Apóstol, Ocotlán.'
                    },
                    { id:5,
                        icon: true,
                        title: 'Zapoteco de Sta Lucía Ocotlán',
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
                        file: "zapoteco_de_stalucia_ocotlan.mp3",
                        url: "http://sgps.oaxaca.gob.mx/audios/zapoteco_de_stalucia_ocotlan.mp3", //'zapoteco_de_stalucia_ocotlan.mp3',
                        creditos:'Jorge Jesús Pablo Cruz, estudiante de la Carrera de Técnico Superior Universitario en Energías Renovables de la Universidad Tecnológica de los Valles Centrales de Oaxaca (UTVCO) y originario de la comunidad de Santa Lucía, Ocotlán.'
                    },
                    { id:6,
                        icon: true,
                        title: 'Zapoteco de San Miguel Suchixtepec.',
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
                        file: "ZapotecoSanMiguelSuchixtepec.mp3",
                        url: "http://sgps.oaxaca.gob.mx/audios/ZapotecoSanMiguelSuchixtepec.mp3" ,//'ZapotecoSanMiguelSuchixtepec.mp3',
                        creditos:'Sergio Luis Hernández Salinas, hablante de la lengua Zapoteca, originario de la comunidad de San Miguel Suchixtepec, Miahuatlán, Oaxaca y  analista en la Dirección de Evaluación y Seguimiento de la Coordinación de Planeación y Evaluación para el Desarrollo Social de Oaxaca (COPEVAL).'
                    }
                ],
                rutaAudio: '',
                progress: 0,
                isPlaying: true,
                creditoTemp: '',
                titleAudio: '',
                trackTemp:{}
            };
        },
        created(){
            if(!player.isAudioPlaying()){
                this.doPlay(this.audioList[0]);
            }

            //this.isPlaying = !player.isAudioPlaying();

            /*permissions.requestPermission(android.Manifest.permission.WRITE_EXTERNAL_STORAGE, "I need these permissions because I'm cool")
                .then(() => {
                    console.log("Permisos otorgados")
                }).catch( () => {
                console.log("Permisos denegados!");
            });*/
        },
        methods: {
            onItemTap() {
            },
            prevTrack(){
                var track = this.trackTemp.id == 0 ? this.audioList.length-1 : this.trackTemp.id-1;
                player.dispose();
                this.doPlay(this.audioList[track]);
            },
            nextTrack(){
                var track =this.trackTemp.id == this.audioList.length-1 ? 0 : this.trackTemp.id+1;
                player.dispose();
                this.doPlay(this.audioList[track]);
            },
            doPlay(audio){
                player.dispose();
                this.trackTemp=audio;
                this.creditoTemp =  audio.creditos;
                this.isShowRepro = 'visible';
                this.isShowList = 'collapse';
                this.isShowButton = 'visible';
                this.titleAudio = audio.title;

                //this.downloadAudio(audio);

                var playerOptions = {
                    audioFile: audio.url,  // url is variable where file is located
                    loop: false,
                    completeCallback() {
                        console.log("playback completed");
                    },
                    errorCallback(errorObject) {
                        console.log("Error");
                    },
                    infoCallback(args) {

                    },
                };

               player.playFromUrl(playerOptions)
                     .then((res) => {
                         console.log("Audio correcto");
                     }).catch(() => {
                         console.log('Error: ' + e)
                     });

                this._checkInterval = setInterval(() => {
                    player.getAudioTrackDuration().then(duration => {
                        // iOS: duration is in seconds
                        // Android: duration is in milliseconds
                        this.isPlaying = player.isAudioPlaying();

                        let current = player.currentTime;
                        if (isIOS) {
                            duration *= 1000;
                            current *= 1000
                        }

                        this.progress = Math.ceil(current / duration * 100);

                    });
                }, 3000);
            },
            playPause() {
                if ( this.isPlaying) {
                    player.pause();
                } else {
                    player.play();
                }

                this.isPlaying = player.isAudioPlaying();
            },
            slideFinger(args) {
                let direction = args.direction == gestures.SwipeDirection.down ? "down"
                        : args.direction == gestures.SwipeDirection.up
                        ? "up"
                        : args.direction == gestures.SwipeDirection.left
                            ? "left"
                            : "right";
                if(direction=="down"){
                    player.pause();
                    player.dispose();
                    this.isPlaying = player.isAudioPlaying();
                    this.$navigateBack();
                }

            },
            closeRep(){
                player.pause();
                player.dispose();
                this.isPlaying = player.isAudioPlaying();
                this.$navigateBack();
            },
            /*downloadAudio(audioObject){
                var folderDownloads = this.$store.state.isIOS ? fileSystem.knownFolders.ios.downloads().path : android.os.Environment.getExternalStoragePublicDirectory(android.os.Environment.DIRECTORY_DOWNLOADS).getAbsolutePath();
                var pathAudiosPub = fileSystem.path.join(folderDownloads, "AudiosPub" );  //fileSystem.path.join(android.os.Environment.getExternalStoragePublicDirectory(android.os.Environment.DIRECTORY_DOWNLOADS).getAbsolutePath(), "audiosPub");

                if (fileSystem.Folder.exists(pathAudiosPub)){
                    var audio = fileSystem.path.join(pathAudiosPub, audioObject.file);
                    console.log("Existe carpeta de audios");

                    if (fileSystem.File.exists(audio)) {
                        console.log("Exist audio")
                    }else{
                        console.log("No existe audio! ");

                        httpModule.getFile(audioObject.url, pathAudiosPub.path).then((resultFile) => {
                            // The returned result will be File object
                            console.log("AAudio descargado!!!!")
                        }, (e) => {
                            console.log("Error al descargar audio - " + e)
                        });
                    }
                } else{
                    var folder = fileSystem.Folder.fromPath(pathAudiosPub);

                    console.log("No existe carpeta de audios ");

                    httpModule.getFile(audioObject.url, folder.path).then((resultFile) => {
                        // The returned result will be File object
                        console.log("AAudio descargado!!!!")
                    }, (e) => {
                        console.log("Error al descargar audio - " + e)
                    });
                }
            },*/
        },
        destroyed() {
            clearInterval(this._checkInterval)
        }
    };
</script>
<style scoped>
    .song-title {
        letter-spacing: 0.2px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 100;
    }

    .window {
        color: #fff;
        background: linear-gradient(to top, #480048, #C04848);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .border-b {
        border-bottom-width: 1px;
        border-bottom-color: #fff;
        margin: 0 15;
        opacity: 0.3;
    }

    .bt1 {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .bt2 {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .bt3 {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .btn-rounded{
        border:1px white solid;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
</style>
