<template>
    <GridLayout rows="auto, auto, *, auto">
        <GridLayout columns="20, *" row="0" class="lpi-titlebar">
            <Label :class="iconset" :text="icon | fonticon" verticalAlignment="center"
                horizontalAlignment="center" class="subtitle_cop" />
            <Label class="subtitle_cop" :text=" '' + title" col="1" verticalAlignment="center" />
        </GridLayout>

        <StackLayout row="1" v-show="isSearcheable">
            <FlexboxLayout marginTop="10" padding="16" borderRadius="16" backgroundColor="#ffffff" width="100%" alignItems="center" justifyContent="center">
                <TextView width="100%" editable="true" v-model="searchQuery" hint="Escriba y seleccione una opción..."
                          class="input extra-bold" :class="{empty: (searchQuery == '')}" ref="searchBar" maxLength="50">
                </TextView>
            </FlexboxLayout>
        </StackLayout>

        <ListView for="(i, ind) in list" row="2" @itemTap="itemTap" separatorColor="transparent">
            <v-template>
                <Label :text="i.nombre==='---' ? '' : i.nombre" :class="(i==='---' ? 'lpi-list-separator' : 'lpi-list-item') + (ind % 2 ? ' even' : '')" textWrap="true"/>
            </v-template>
        </ListView>
        <GridLayout columns="*, auto, *" rows="auto" row="3" class="lpi-bottombar">
            <Button class="fa lpi-close-button subtitle_cop" @tap="closeModal" col="1">Cerrar  {{'fa-times' | fonticon}}</Button>
        </GridLayout>
    </GridLayout>
</template>

<script>
    import * as application from "application";
    import {
        AndroidApplication,
        AndroidActivityBackPressedEventData
    } from "application";
    import {
        isAndroid
    } from "platform";

    export default {
        data() {
            return {
                searchQuery: '',
                timer: null,
                list: [],
            };
        },
        methods: {
            itemTap(event) {
                if (event.item.nombre === "---") return;
                this.selTitle=event.item.nombre;
                this.parent.updateValue(event.item);
                this.$modal.close();
            },
            closeModal() {
                this.$modal.close();
            }
        },
        mounted() {
            if (isAndroid) {
                this.androidhook = application.android.once(
                    AndroidApplication.activityBackPressedEvent,
                    data => {
                        this.$modal.close();
                        data.cancel = true; // prevents default back button behavior
                    }
                );
            }

            this.list =  this.items;
        },
        watch:{
            /**
             * metodo que filtra la lista de elementos,cuando se ingresa texto
             * */
            searchQuery:function(event){
                if(this.timer){
                    clearTimeout(this.timer);
                }
                this.timer = setTimeout(function(){
                    if(event.length>1){
                        let temp = this.items.filter(item =>
                            item.nombre.toLowerCase().startsWith(this.searchQuery.toLowerCase()),
                        );
                        if(temp.length>0){
                            this.list = temp;
                        }
                    }else{
                        this.list = this.items;
                    }
                }.bind(this),500);
            }
        },
        props: {
            iconset: {
                type: String,
                default: "fa"
            },
            icon: {
                type: String,
                default: "fa-user"
            },
            title: String,
            items: Array,
            parent: Object,
            isSearcheable: false
        },
        name: "ListPickerIModal"
    };
</script>

<style scoped>
    .lpi-titlebar {
        color: white;
        background-color: #b7156d;
        font-size: 20;
        padding: 20;
    }

    .h2 {
        padding: 0;
        padding-left: 5;
        margin: 0;
    }

    .lpi-list-item {
        font-size: 16;
        padding: 10 20;
        width: 100%;
    }

    .lpi-list-item.even {
        background-color: rgb(255, 209, 240);
    }

    .lpi-list-separator {
        background-color: #b7156d;
        height: 5;
        width: 100%;
    }

    .lpi-bottombar {
        color: white;
        background-color: #b7156d;
        text-align: right;
    }

    .lpi-close-button {
        background-color: #b7156d;
        height: 40;
        color: white;
        border-color: transparent;
        border-width: 1;
    }
</style>