<template>
    <GridLayout rows="*" columns="*">
        <StackLayout row="0" height="100%" width="100%">

            <StackLayout orientation="horizontal" class="m-t-10">
                <Label :text="params.title" textWrap="true" class="m-10" textAlignment="center" width="80%"/>
                <Label @tap="onCloseModal" :text="'fa-times-circle' | fonticon" textAlignment="center" width="10%" verticalAlignment="top" class="fa title_cop m-10" />
            </StackLayout>

            <RadCartesianChart v-if="params.chartType == 'column' && !isBusy" class="m-t-5" height="90%" allowAnimation="true">
                <CategoricalAxis v-tkCartesianHorizontalAxis allowZoom="true" allowPan="false" labelFitMode="Rotate" labelRotationAngle="30" ></CategoricalAxis>
                <LinearAxis v-tkCartesianVerticalAxis labelFitMode="Rotate"></LinearAxis>
                <BarSeries v-tkCartesianSeries
                           :items="params.items"
                           categoryProperty="name"
                           valueProperty="y"
                           paletteMode="Item"
                           showLabels="true"></BarSeries>
            </RadCartesianChart>

            <RadCartesianChart height="90%" v-if="params.chartType == 'lineal' && !isBusy" class="m-t-5" allowAnimation="true">
                <CategoricalAxis v-tkCartesianHorizontalAxis />
                <LinearAxis v-tkCartesianVerticalAxis />
                <LineSeries v-tkCartesianSeries
                            :items="params.items"
                            categoryProperty="name"
                            valueProperty="y" />
            </RadCartesianChart>

            <RadCartesianChart height="90%" row="0" v-if="params.chartType == 'piramide' && !isBusy" class="m-t-5" allowAnimation="true">
                <CategoricalAxis v-tkCartesianHorizontalAxis labelFitMode="Rotate" verticalLocation="Bottom" allowZoom="true" allowPan="false" labelSize="11"/>
                <LinearAxis v-tkCartesianVerticalAxis labelFitMode="Rotate" horizontalLocation="Left" labelSize="11"/>
                <LinearAxis v-tkCartesianVerticalAxis labelFitMode="Rotate" horizontalLocation="Left" labelSize="11"/>
                <BarSeries v-tkCartesianSeries
                           showLabels="true"
                           seriesName="Hombres"
                           legendTitle="Hombres"
                           categoryProperty="name"
                           valueProperty="hombres"
                           textSize="4"
                           :items="params.items"/>
                <BarSeries v-tkCartesianSeries
                           seriesName="Mujeres"
                           legendTitle="Mujeres"
                           showLabels="true"
                           categoryProperty="name"
                           valueProperty="mujeres"
                           textSize="4"
                           :items="params.items"/>

                <RadLegendView v-tkCartesianLegend position="Floating" width="105" offsetOrigin="TopRight" title="Género" enableSelection="false" ></RadLegendView>

            </RadCartesianChart>

            <GridLayout rows="*" columns="*" >
                <RadPieChart allowAnimation="true" row="0" v-if="params.chartType=='pie' && !isBusy" width="98%">
                    <PieSeries v-tkPieSeries
                               selectionMode="DataPoint"
                               expandRadius="0.4"
                               outerRadiusFactor="0.8"
                               valueProperty="y"
                               legendLabel="name"
                               showLabels="true"
                               :showPercentage="params.showPercentage"
                               :items="params.items" />

                    <RadLegendView v-tkPieLegend position="Right" title="Beneficiarios" offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView>
                </RadPieChart>
            </GridLayout>
        </StackLayout>

        <!--        <ActivityIndicator :busy="isBusy" color="green" borderRadius="50" width="100" height="100" marginTop="300" />-->
        <Image :src="'~/assets/images/x.png'" v-if="isBusy" row="0" horizontalAlignment="center" class="icon-copeval"  width="15%" height="100" marginTop="250"></Image>
    </GridLayout>
</template>

<script>
    import axios from "axios";
    import qs from 'qs';
    import ListPickerI from "../FindList/ListPickerI";

    export default {
        name: "ChartsModal",
        data () {
            return {
                title: '',
                chartType: '',
                items: [],
                isBusy: false,
                showPercentage: false,
                periodoList: [
                    {id:1, nombre: 2016},
                    {id:2, nombre: 2017},
                    {id:3, nombre: 2018},
                    {id:4, nombre: 2019},
                    {id:5, nombre: 2020},
                    {id:6, nombre: 2021}
                ],
            }
        },
        props: ["params", "type", "url", "parent"],
        created(){
            this.parent.isBusy = false;
            //this.getChart();
        },
        methods: {
            onCloseModal(args){
                args.object.closeModal();
            },
            getChart(){
                this.items = [];

                this.params.nombre ? (this.params.nombre = '') : '';
                this.params.apellidoPaterno ? (this.params.apellidoPaterno = '') : '';
                this.params.apellidoMaterno ? (this.params.apellidoMaterno = '') : '';

                const options = {
                    method: 'POST',
                    headers: { 'content-type': 'application/x-www-form-urlencoded' },
                    data: qs.stringify(this.params),
                    url: this.url,
                };
                axios(options).then((response) => {
                    var values = this.type == 'porGenero' ? response.data : response.data.data;

                    this.title = values.title.text.replace("<br>", "\n");
                    this.chartType = values.series[0].type ? values.series[0].type : response.data.chart;
                    var cont = 0;

                    if (this.type == 'estadistica' && this.chartType == 'pie') {
                        this.items = values.series[0].data;
                        this.showPercentage = true;
                    }else{
                        this.showPercentage = false;

                        values.series[0].data.forEach(function (val) {
                            var object;
                            if (this.type == 'porGenero'){
                                object = {name: val[0], y: val[1]};
                            }else{
                                var categorie = (values.xAxis.categories ? values.xAxis.categories[cont] : this.periodoList[cont].nombre);

                                if (this.chartType == 'piramide'){
                                    object = {name: categorie, hombres: val, mujeres:values.series[1].data[cont]}
                                }else{
                                    object = {name: categorie, y: val};
                                }
                            }
                            this.items.push(object);
                            cont++;
                        }.bind(this));
                    }

                    //this.isBusy = false;

                }, (error) => {
                    console.log("Error: " + error);
                });
            },
        },
        components: {
            ListPickerI
        }
    }
</script>

<style scoped>

</style>
