<template>
    <ScrollView width="100%" height="100%" >
        <StackLayout  width="100%">
            <StackLayout orientation="horizontal" class="m-10" width="100%">
                <Label width="80%" text="Buscador " textAlignment="left" class="m-b-16 m-l-10 text-white title_cop" />
                <Label width="15%"  @tap="onCloseModal" :text="'fa-times-circle' | fonticon" textAlignment="right" class="fa title_cop m-r-28"  />
            </StackLayout>

            <Label text="Seleccione tipo padrón"
                   class="m-l-10 subject_cop text-white"
                   textAlignment="left"
                   width="100%"/>
                <ListPickerI icon="fa-building" iconset="fa"
                             selTitle="Tipo de padrón"
                             text-field="nombre"
                             v-model="tipoPadron"
                             class="m-x-20"
                             :isSearcheable="false"
                             :width="(width*.80)*.9"
                             :options="[{id: 1, nombre:'Beneficiarios', clave: 'personas'}, {id:2, nombre: 'Actores Sociales', clave: 'actores'}, {id:3, nombre: 'Población Beneficiaria', clave: 'poblacion'}]" />
            <StackLayout orientation="horizontal"
                         v-show="tipoPadron.nombre === 'Beneficiarios'"
                         class="p-r-15"
                         width="100%"
                         horizontalAlignment="right">
                <Label textAlignment="right"
                       class="m-t-10 m-b-10 text-white"
                       text="¿Buscar por nombre?"
                       width="60%">
                </Label>
                <Switch v-model="itemEnabled"
                        :color="itemEnabled?'#b7156d':'#ffffff'"
                        offBackgroundColor="#ffffff"
                        backgroundColor="#ffffff"
                />
            </StackLayout>

            <StackLayout  width="90%" v-show="itemEnabled">
                <Label text="Nombre (s): " class="m-t-5 m-l-10 subject_cop text-white"/>
                <TextField text=".." v-model="nombreBen" class="field-form"/>

                <Label text="Primer apellido: " class="m-t-5 m-l-10 subject_cop text-white"/>
                <TextField text=".." v-model="primerApellido" class="field-form"/>

                <Label text="Segundo apellido: " class="m-t-5 m-l-10 subject_cop text-white"/>
                <TextField text=".." v-model="segundoApellido" class="field-form"/>
            </StackLayout>

            <Label text="Seleccione tipo de búsqueda" class="m-l-10 m-t-5 subject_cop text-white"/>
                <ListPickerI icon="fa-building" iconset="fa"
                             selTitle="Seleccione Dependencia o Programa"
                             text-field="nombre"
                             v-model="tipoBusqueda"
                             :isSearcheable="false"
                             :width="(width*.80)*.9"
                             class="m-t-10 m-x-20"
                             :options="[{id: 1, nombre:'Dependencia'}, {id:2, nombre: 'Programa'}]" />

                <ListPickerI icon="fa-building" iconset="fa" v-if="!refreshTB"
                             selTitle="Seleccione Dependencia o Programa"
                             text-field="nombre"
                             v-model="busquedaSelected"
                             class="m-t-10 m-x-20"
                             :isSearcheable="true"
                             :width="(width*.80)*.9"
                             :options="(tipoBusqueda.id == 1 ? $store.state.dependencias : $store.state.programas)" />

            <Label text="Seleccione un periodo: " class="m-l-10 m-t-5 subject_cop text-white"/>
                <ListPickerI icon="fa-building" iconset="fa"
                             selTitle="Periodo: "
                             text-field="nombre"
                             :width="(width*.80)*.9"
                             v-model="periodo"
                             :isSearcheable="false"
                             class="m-t-10 m-x-20"
                             :options="[{id:1, nombre: 2016}, {id:2, nombre: 2017}, {id:3, nombre: 2018}, {id:4, nombre: 2019}]" />

            <Label text="Selecciona búsqueda por: " class="m-l-10 m-t-5 subject_cop text-white"/>
                <ListPickerI icon="fa-building" iconset="fa"
                             selTitle="Búsqueda por: "
                             text-field="nombre"
                             v-model="busquedaPor"
                             class="m-t-10 m-x-20"
                             :isSearcheable="false"
                             :width="(width*.80)*.9"
                             :options="[{id: 1, nombre:'Region'}, {id:2, nombre: 'Distrito'}, {id: 3, nombre: 'Municipio'}]" />

                <ListPickerI icon="fa-building" iconset="fa" v-if="!refresh"
                             selTitle="Seleccione Región/Muncipio/Distrito"
                             text-field="nombre"
                             v-model="busquedaSelectPor"
                             class="m-t-10 m-x-20"
                             :isSearcheable="true"
                             :width="(width*.80)*.9"
                             :options="busquedaPor.id == 1 ? $store.state.regiones : busquedaPor.id == 2 ? $store.state.distritos : $store.state.municipios" />


            <StackLayout orientation="horizontal" class="m-b-16 p-r-16 m-t-10" width="90%">
                <Button :text="'fa-trash' | fonticon" class="fa p-10 btn-copeval m-b-30 m-l-30 m-r-10 title_cop" width="35%" horizontalAlignment="right" @tap="clearSearch"></Button>
                <Button :text="'fa-search' | fonticon" class="fa p-10 btn-copeval m-b-30 m-l-30 m-r-10 title_cop" width="35%" horizontalAlignment="left" @tap="searchPadron"></Button>
            </StackLayout>

        </StackLayout>
    </ScrollView>
</template>

<script>
    import axios from "axios";
    import qs from 'qs';
    import ListPickerI from "../FindList/ListPickerI";
    const {device, screen} = require('@nativescript/core/platform');

    export default {
        name: "ConsultaPub",
        data(){
            return{
                tipoBusqueda: {id: 0, nombre:'Seleccione una opción'},
                busquedaSelected: {id: 0, nombre: "Seleccione una opción"},
                tipoPadron: {id: 0, nombre:'Seleccione una opción'},
                busquedaPor: {id:0, nombre: 'Seleccione opcion'},
                busquedaSelectPor: {id: 0, nombre: 'Seleccione opción'},
                periodo: {id:0, nombre: 'Seleccione periodo'},
                nombreBen: '',
                primerApellido: '',
                segundoApellido: '',
                isPerBen: 'collapsed',
                refresh:true,
                refreshTB: false,
                width:screen.width,
                height: screen.height,
                itemEnabled:false
            }
        },
        props: ["parent"],
        watch:{
            busquedaPor: function(value){
                this.refresh = true;
                setTimeout(function () {
                    this.refresh=false;
                }.bind(this),100);
            },
            tipoBusqueda: function (value) {
                this.refreshTB = true;
                setTimeout(function () {
                    this.refreshTB=false;
                }.bind(this), 100);
            }
        },
        methods: {
            onCloseModal() {
                this.parent.openFilterPub();
            },
            searchPadron: function () {
                this.parent.isBusy = true;
                this.parent.openFilterPub();

                var params = { max: 20, total: 0, offset: 0 };
                var dataList = [];

                if (this.tipoBusqueda.id == 1 ) {
                    params.dependencia = this.busquedaSelected.id;
                }else if (this.tipoBusqueda.id == 2) {
                    params.programa = this.busquedaSelected.id
                }else{
                    alert("Seleccione un programa o dependencia!!");
                    this.parent.isBusy =  false;
                    return;
                }

                dataList = [];

                if (this.busquedaPor.id == 1 ) {
                    params.region = this.busquedaSelectPor.id //dataList.push(this.busquedaSelectPor.id)
                }else if(this.busquedaPor.id == 2){
                    params.distritio = this.busquedaSelectPor.id //dataList.push(this.busquedaSelectPor.id)
                }else if (this.busquedaPor.id == 3) {
                    params.municipio = this.busquedaSelectPor.id //dataList.push(this.busquedaSelectPor.id)
                }

                dataList = [];

                params.tipopadron = this.tipoPadron.id > 0 ? this.tipoPadron.clave : "personas";
                params.fechainicio = this.periodo.nombre > 0 ? this.periodo.nombre : 0;
                params.app = true; // Parámetro para regresar JSON y no HTML en la petición
                this.nombreBen != '' ? (params.nombre = this.nombreBen ) : '';
                this.primerApellido != '' ? (params.apellidoPaterno = this.primerApellido ) : '';
                this.segundoApellido != '' ? (params.apellidoMaterno = this.segundoApellido ) : '';

                const options = {
                    method: 'POST',
                    headers: { 'content-type': 'application/x-www-form-urlencoded' },
                    data: qs.stringify(params),
                    url: "http://sgps.oaxaca.gob.mx/publico/findAllPersonas",
                    // url: "http://172.31.1.10:8080/pub/publico/findAllPersonas",
                };

                axios(options).then((response) => {
                    this.dataList = response.data; //response.content.toJSON();

                    if (this.dataList.total == 0){
                        alert("No se encontraron registros para esa búsqueda!")
                    }

                    this.parent.getData(this.dataList, params);
                    this.parent.isBusy = false;
                }, (error) => {
                    console.log("Error: " + error);
                });
            },
            clearSearch(){
                this.tipoBusqueda = {id: 0, nombre:'Seleccione una opción'};
                this.busquedaSelected = {id: 0, nombre: "Seleccione una opción"};
                this.tipoPadron = {id: 0, nombre:'Seleccione una opción'};
                this.busquedaPor = {id:0, nombre: 'Seleccione opcion'};
                this.busquedaSelectPor = {id: 0, nombre: 'Seleccione opción'};
                this.periodo = {id:0, nombre: 'Seleccione periodo'};
            },
        },
        addArray(value){
            var dataList = [];
            return dataList.push(value)
        },
        components: {ListPickerI},
    }
</script>

<style scoped>
    .lbl-form{
        color:#fff;
    }

    .field-form{
        background-color: #ffffff;
        margin: 10px;
        height: 90px;
        padding: 5px;
        margin-left: 10%;
        margin-right: 10%;
    }
</style>
