<template>
    <ScrollView width="100%" height="100%" scrollBarIndicatorVisible="true">
        <StackLayout>
            <Label @tap="onCloseModal" :text="'fa-times-circle' | fonticon" textAlignment="right" class="fa title_cop text-white" marginRight="40" ></Label>

            <Label text="Selecione un tipo de búsqueda" class="subject_cop text-white m-b-8"/>
            <ListPickerI icon="fa-building" iconset="fa"
                         selTitle="Seleccione una opción:"
                         text-field="nombre"
                         value="Prueba"
                         width="85%"
                         v-model="tipoBusqueda" :options="[{id:1,nombre:'Programa'},{id:2,nombre:'Dependencia'}]" />

            <Label :text="'Seleccione ' + tipoBusqueda.nombre+':'" class="subject_cop text-white m-b-8 m-t-8" />
            <ListPickerIMulti v-if="!refresh" icon="fa-building" iconset="fa"
                              selTitle="Seleccione una opción:"
                              text-field="nombre"
                              value="Prueba"
                              v-model="depProg"
                              width="85%"
                              :options="(tipoBusqueda.id==1)?$store.state.programas : $store.state.dependencias"/>

            <Label text="Seleccione periodo:" class="subject_cop text-white m-b-8 m-t-8"/>
            <ListPickerI  icon="fa-building" iconset="fa"
                          selTitle="Seleccione una opción:"
                          text-field="nombre"
                          value="Prueba"
                          width="85%"
                          v-model="periodo" :options="[{id:0,nombre:'Todos'},{id:1,nombre:'2016'},{id:2,nombre:'2017'},{id:3,nombre:'2018'}]" />

            <Label text="Mostrar por:" class="subject_cop text-white m-b-8 m-t-8"/>
            <ListPickerI icon="fa-building" iconset="fa"
                         selTitle="Seleccione una opción:"
                         text-field="nombre"
                         value="Prueba"
                         width="85%"
                         v-model="showBy" :options="[{id:1,nombre:'Región'},{id:2,nombre:'Distrito'},{id:3,nombre:'Municipio'}]" />

            <Label :text="'Selecciones' + showBy.nombre+': '" class="subject_cop text-white m-b-8 m-t-8"/>
            <ListPickerIMulti v-if="!refresh" icon="fa-building" iconset="fa"
                              selTitle="Seleccione una opción:"
                              text-field="nombre"
                              value="Prueba"
                              v-model="munRegDist"
                              width="85%"
                              :options="(showBy.id==1)?$store.state.regiones :(showBy.id==2) ?$store.state.distritos:$store.state.municipios"/>

            <StackLayout orientation="horizontal" class="m-b-16 p-r-16 m-t-10" width="90%">
                <Button text="Limpiar" class="p-10 btn-copeval m-b-30 m-l-30 m-r-10 title_cop" width="35%" horizontalAlignment="right" @tap="cleanMap()"></Button>
                <Button text="Buscar" class="p-10 btn-copeval m-b-30 m-l-30 m-r-10 title_cop" width="35%" horizontalAlignment="left" @tap="getGeodatos()"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</template>

<script>

    import { AutoCompleteCompletionMode, AutoCompleteDisplayMode, AutoCompleteSuggestMode } from 'nativescript-ui-autocomplete';
    import ListPickerIMulti from "../MultiFindList/ListPickerI";
    import ListPickerI from "../FindList/ListPickerI";
    import * as effects from "../../../helpers/Effects";
    import axios from "axios"
    import qs from 'qs';

    /**
     * SE TERMINO DE VALIDAR EL FORMULARIO, PENDIENTE EL BOTON DE BUSQUEDA PARA CUANDO SE HAGA CLICK TODOS LOS ELEMENTOS VUELVAN A SU ESTADO INICIAL
     */
    export default {
        name: "Pub",
        data() {
            return {
                selectedIndex: 0,
                isChecked:true,
                ruta: "http://sgps.oaxaca.gob.mx/publico/consulta?id=movil",
                programaDependenciaList: [],
                displayMode: AutoCompleteDisplayMode.Tokens,
                suggestMode: AutoCompleteSuggestMode.Suggest,
                completionMode: AutoCompleteCompletionMode.StartsWith,
                dataItems: [],
                tipoBusqueda:{id:0,nombre:"Seleccione su tipo de búsqueda"},
                depProg:{
                    id:0,
                    nombre:''
                },
                munRegDist:{
                    id:0,
                    nombre:''
                },
                periodo:{
                    id:0,
                    nombre:''
                },
                showBy:{
                    id:0,
                    nombre:''
                },
                nomatch:false,
                refresh:false,
            }
        },
        props: ["isScreen800", "titleSize", "paragraph","parent"],
        methods: {
            onCloseModal(args) {
                this.$emit("close-modal")
            },
            convertToArray(array){
                console.log("array recibido->>>"+array)
                var newArray = [];
                array.forEach(function(item){
                    if(typeof item === 'object'){
                        newArray.push(item.id);
                    }
                });
                return newArray;
            },
            cleanMap(){
                this.$emit("clean-map")
            },
            /**
             * metodo que obtiene los datos de los municipios seleccionados en el formulario
             */
            getGeodatos(){
                this.$emit("clean-map")

                var params = {};

                var dataList = [];

                if(this.depProg.items){
                    if(this.tipoBusqueda.id == 2){
                        dataList = this.convertToArray(this.depProg.items);
                        params.dependencia = JSON.stringify(dataList);
                    }
                    else if (this.tipoBusqueda.id == 1) {
                        dataList = this.convertToArray(this.depProg.items);
                        params.programa = JSON.stringify(dataList);
                    }
                }
                else{
                    alert('Elija un programa o dependencia');
                    return
                }

                params.periodo = this.periodo.nombre=='Todos' ? '' : this.periodo.nombre;
                params.app = true;
                dataList = [];

                switch (this.showBy.id) {
                    case 0:
                        params.estado = "20";
                        params.selected = {filterBy: 'estado', items: [20]};
                        break;
                    case 1:
                        params.region = this.munRegDist.items[0].id;
                        params.selected = {filterBy:'region',items:this.munRegDist.items};
                        break;
                    case 2:
                        params.distrito = this.munRegDist.items[0].id;
                        params.selected = {filterBy:'distrito',items:this.munRegDist.items};
                        break;
                    case 3:
                        params.municipio = this.munRegDist.items[0].id;
                        params.selected = {filterBy:'municipio', items:this.munRegDist.items};
                    default:
                        break;
                }
                this.parent.isBusy = true;

                const options = {
                    method: 'POST',
                    headers: { 'content-type': 'application/x-www-form-urlencoded' },
                    data: qs.stringify(params),
                    url: 'http://sgps.oaxaca.gob.mx/geoReference/geolo', //http://172.31.1.5:8080/pub/geoReference/geolo' //
                };

                axios(options).then((response) => {
                    console.log("se van a pintar los poligonos----->")
                    this.$emit("show-data",response.data, params)
                    this.$emit("print-polygons", params.selected);
                    // this.parent.printPolygons(params.selected);
                    // this.parent.showData(response.data, params);
                    this.parent.isBusy = false;
                }, (error) => {
                    console.log("Error FORM GO DATOS: " + error);
                });
            },
            /**
             *
             * @param params parametros de busqueda si el objeto trae 4 propiedades o mas se procesa el form si no se manda alerta
             * @returns {boolean}
             */
            validateForm(params){
                return (Object.entries(params).length>=4) ? true:false;
            },
            find() {
                this.$emit("toggle-loading");
                let view = this.$refs.find.nativeView;
                view.isEnabled = false;
                let oldbg = view.backgroundColor;
                view.backgroundColor = "rgba(84, 84, 84, 0.60)";
                effects.tapEffect(view).then(() => {
                    let crits = {
                        where: wheretoleave.indexOf(this.selwhere) >
                        1 ?
                            this.selwhere :
                            "*",
                        when: whentoleave.indexOf(this.selwhen) >
                        1 ?
                            this.selwhen :
                            "*",
                        weather: kindofweather.indexOf(this.selkindofweather) >
                        1 ?
                            kindofweather.indexOf(this.selkindofweather) +
                            1 :
                            0
                    };
                    let hasMatch = DestinationService.hasDestinationsMatchingCriterias(
                        crits
                    );
                    if (hasMatch) {
                        this.$emit("changeView", {
                            view: "results",
                            props: {
                                criterias: crits
                            }
                        });
                        setTimeout(() => {
                            view.isEnabled = true;
                            view.backgroundColor = oldbg;
                            this.$emit("toggle-loading");
                        }, 1000);
                    } else {
                        this.nomatch = true;
                        view.isEnabled = true;
                        view.backgroundColor = oldbg;
                        setTimeout(() => (this.nomatch = false), 3000);
                        this.$emit("toggle-loading");
                    }
                });
            },
            onLoadFinished(args) {
                let message;
                if (!args.error) {
                    message = "WebView finished loading " + args.url;
                } else {
                    message = "Error loading " + args.url + ": " + args.error;
                }
            },
            indexChange: function(args) {
                let newIndex = args.value
            },
            onNavigationButtonTap(){
                frameModule.topmost().goBack();
            },
            onSuggestSelected(args) {
                this.suggestMode = AutoCompleteSuggestMode.Suggest;
                this.$refs.autocomplete.resetAutoComplete();
            },
            onAppendSelected(args) {
                this.suggestMode = AutoCompleteSuggestMode.Append;
                this.completionMode = AutoCompleteCompletionMode.StartsWith;
                this.$refs.autocomplete.resetAutoComplete();
            },
            onSuggestAppendSelected(args) {
                this.suggestMode = AutoCompleteSuggestMode.SuggestAppend;
                this.completionMode = AutoCompleteCompletionMode.StartsWith;
                this.$refs.autocomplete.resetAutoComplete();
            },
            onStartsWithSelected(args) {
                this.completionMode = AutoCompleteCompletionMode.StartsWith;
                this.$refs.autocomplete.resetAutoComplete();
            },
            onContainsSelected(args) {
                this.completionMode = AutoCompleteCompletionMode.Contains;
                this.suggestMode = AutoCompleteSuggestMode.Suggest;
                this.$refs.autocomplete.resetAutoComplete();
            },
            onPlainSelected(args) {
                this.displayMode = AutoCompleteDisplayMode.Plain;
                this.$refs.autocomplete.resetAutoComplete();
            },
            onTokensSelected(args) {
                this.displayMode = AutoCompleteDisplayMode.Tokens;
                this.$refs.autocomplete.resetAutoComplete();
            },
        },
        components: { ListPickerI,ListPickerIMulti},
        watch:{
            tipoBusqueda(){
                this.refresh=true;
                setTimeout(function () {
                    this.refresh=false;
                }.bind(this),100);
            },
            showBy(){
                this.refresh=true;
                setTimeout(function () {
                    this.refresh=false;
                }.bind(this),100);
            },

        }
    }
</script>

<style scoped>
</style>
