<template>
    <StackLayout width="100%" >
        <StackLayout orientation="horizontal" class="m-y-20" width="100%">
            <Label :text="'Formulario Gráficas Estadistíca'"
                   horizontalAlignment="left"
                   width="80%"
                   class="title_cop p-l-28"
                   color="#FFFFFF"
            />
            <Label @tap="onCloseModal"
                   :text="'fa-times-circle' | fonticon"
                   width="20%"
                   textAlignment="right"
                   class="fa title_cop p-r-28" />
        </StackLayout>

        <ListPickerI icon="fa-chart-bar" iconset="fa" class="m-x-20"
                     selTitle="Tipo estadística"
                     text-field="nombre"
                     horizontalAlignment="center"
                     v-model="section"
                     width="90%"
                     :options="itemsStadisticalType"/>

        <StackLayout v-show="section.id > 0 && section.id < 6 || section.id > 7" class="m-x-20" width="100%">
            <ListPickerI icon="fa-calendar-alt" iconset="fa" class="text-left m-t-28"
                         selTitle="Periodo"
                         text-field="nombre"
                         horizontalAlignment="center"
                         width="90%"
                         v-model="periodo"
                         :options="periodoList"/>
        </StackLayout>


            <Button :text="'fa-search' | fonticon" class="m-t-20 m-b-30 fa p-10 btn-copeval subtitle_cop" width="40%" height="20%"  horizontalAlignment="right" @tap="search"></Button>

    </StackLayout>
</template>

<script>
    import axios from "axios";
    import qs from 'qs';
    import ListPickerI from "../FindList/ListPickerI";
    const {device, screen} = require('@nativescript/core/platform');

    export default {
        name: "FormChartStatistics",
        data () {
            return {
                width:screen.mainScreen.widthPixels,
                height: screen.mainScreen.heightPixels,
                title: '',
                chartType: '',
                items: [],
                isBusy: false,
                showPercentage: false,
                itemsStadisticalType: [
                    {id: 1, nombre:'Personas Beneficiarias por programas'},
                    {id: 2, nombre:'Personas Beneficiarias por programas, según sexo'},
                    {id: 3, nombre:'Personas Beneficiarias de programas por dependencia o entidad ejecutora'},
                    {id: 4, nombre:'Personas Beneficiarias de programas por dependencia o entidad ejecutora, segín sexo'},
                    {id: 5, nombre:'Personas Beneficiarias de programas por región, según sexo'},
                    {id: 6, nombre:'Personas Beneficiarias de programas por ejercicio'},
                    {id: 7, nombre:'Intervenciones realizadas por los programas'},
                    {id: 8, nombre:'Personas Beneficiarias por rangos de edad'},
                    {id: 17, nombre:'Personas Beneficiarias al número de programas de los que recibe algún apoyo'},
                ],
                periodo: {id:0, nombre: 'Seleccione periodo'},
                periodoList: [
                    {id:1, nombre: 2016},
                    {id:2, nombre: 2017},
                    {id:3, nombre: 2018},
                    {id:4, nombre: 2019},
                    {id:5, nombre: 2020},
                ],
                section: {id:0, nombre: 'Seleccione tipo estadística'},
                categoricalSource: [ { name: 'PEJ', Hombres: 100, Mujeres: 85},
                    { name: 'BV', Hombres: 60, Mujeres: 150},
                    { name: 'KJF', Hombres: 120, Mujeres: 81},
                    { name: 'LOD', Hombres: 105, Mujeres: 200 }]
            }
        },
        props: ["params", "url", "type", "parent"],
        methods: {
            onCloseModal() {
                this.parent.openisFormChart();
            },
            search(){
                var params = {'section': this.section.id};

                if (this.section.id > 0){
                   if ((this.section.id < 6 && this.periodo.id == 0) || (this.section.id > 7 && this.periodo.id == 0)){
                       alert("Seleccione un periodo!");
                       return;
                   }
               }else{
                   alert("Seleccione un tipo de gráfica!");
                   return;
               }

                params.periodo = this.periodo.nombre > 0 ? this.periodo.nombre : 0;
                this.parent.getEstadisticas(params)
            }
        },
        components: {
            ListPickerI
        }
    }
</script>

<style scoped>

</style>
