<template>
    <ScrollView width="100%" height="100%" ref="scrollView" @scroll="onScroll">
        <StackLayout ref="topView" class="m-y-auto">
            <!--<Label  @tap="onCloseModal" :text="'fa-times-circle' | fonticon" horizontalAlignment="right" textAlignment="right" class="fa icon-size h1" marginRight="40" />-->

           <ClosablePanel :row="index+1" v-for="(value, index) in parent.dataList.beneficiarios" :key="value.id"
                          :title="parent.params.tipopadron == 'actores' ? (value.razon_social) : parent.params.tipopadron == 'personas' ? (value.nombre + ' ' + value.apellidopaterno + ' ' + value.apellidomaterno) : value.obra"
                          :icon="parent.params.tipopadron == 'actores' ? 'fa-building' : parent.params.tipopadron == 'poblacion' ? 'fa-users' : (value.sexo==='M'?'fa-female':'fa-male')" iconset="fa" class="m-b-5 m-l-10">
                    <StackLayout>
                        <StackLayout orientation="horizontal" class="m-b-5">
                            <Label :text="parent.params.tipopadron == 'actores' ? 'Razón social: ' : parent.params.tipopadron == 'personas' ? 'Nombre: ' : 'Obra: '" fontWeight="bold" textWrap="true" class="subject_cop m-r-10" />
                            <Label :text="parent.params.tipopadron == 'personas' ? value.nombre : parent.params.tipopadron == 'actores' ? value.razon_social : value.obra" textWrap="true" class="subject_cop"/>
                        </StackLayout>

                        <StackLayout orientation="horizontal" v-show="parent.params.tipopadron == 'personas'" class="m-b-5" >
                            <Label text="Primer apellido: " fontWeight="bold" textWrap="true" class="subject_cop m-r-10" />
                            <Label :text="value.apellidopaterno" textWrap="true" class="subject_cop" />
                        </StackLayout>

                        <StackLayout orientation="horizontal" v-show="parent.params.tipopadron == 'personas'" class="m-b-5">
                            <Label text="Segundo apellido: " fontWeight="bold" textWrap="true" class="subject_cop m-r-10" />
                            <Label :text="value.apellidomaterno" textWrap="true" class="subject_cop" />
                        </StackLayout>

                        <StackLayout orientation="horizontal" class="m-b-5">
                            <Label text="Sexo: " fontWeight="bold" textWrap="true" class="subject_cop m-r-10" v-show="parent.params.tipopadron == 'personas'" />
                            <Label :text="value.sexo" textWrap="true" class="subject_cop m-r-20" v-show="parent.params.tipopadron == 'personas'" />

                            <Label text="Periodo: " fontWeight="bold" textWrap="true" class="subject_cop m-r-10" />
                            <Label :text="value.periodo" textWrap="true" class="subject_cop" />
                        </StackLayout>

                        <StackLayout orientation="horizontal" v-show="parent.params.tipopadron == 'poblacion'" class="m-b-5">
                            <Label text="Núm. beneficiarios: " fontWeight="bold" textWrap="true" class="subject_cop m-r-10" v-show="parent.params.tipopadron == 'poblacion'" />
                            <Label :text="value.num_beneficiarios" textWrap="true" class="subject_cop m-r-20" v-show="parent.params.tipopadron == 'poblacion'" />
                        </StackLayout>

                        <StackLayout orientation="horizontal" v-show="parent.params.tipopadron == 'poblacion'" class="m-b-5">
                            <Label text="Hombres: " fontWeight="bold" textWrap="true" class="subject_cop m-r-10" />
                            <Label :text="value.hombres" textWrap="true" class="subject_cop"/>

                            <Label text="Mujeres: " fontWeight="bold" textWrap="true" class="subject_cop m-l-10 m-r-10"  />
                            <Label :text="value.mujeres" textWrap="true" class="subject_cop m-r-20" />
                        </StackLayout>

                        <StackLayout orientation="horizontal" class="m-b-5">
                            <Label width="22%" text="Programa: " fontWeight="bold" textWrap="true" class="subject_cop m-r-10" />
                            <Label :text="value.programa" textWrap="true" class="subject_cop" />
                        </StackLayout>

                        <StackLayout orientation="horizontal" class="m-b-5">
                            <Label width="25%" :text="parent.params.tipopadron == 'personas' ? 'Beneficio: ' : 'Subprograma: '" fontWeight="bold" textWrap="true" class="subject_cop m-r-10" />
                            <Label :text="parent.params.tipopadron == 'personas' ? value.beneficio : parent.params.tipopadron == 'actores' ? value.sub_programa : value.subprograma" class="subject_cop" textWrap="true" />
                        </StackLayout>

                        <StackLayout orientation="horizontal" class="m-b-5">
                            <Label width="30%" text="Dependencias ejecutoras: " fontWeight="bold" textWrap="true" class="subject_cop m-r-10" />
                            <Label :text="value.depen_ejecutora" textWrap="true" class="subject_cop" />
                        </StackLayout>

                        <StackLayout orientation="horizontal" >
                            <Label width="30%" text="Municipio entrega: " fontWeight="bold" textWrap="true" class="subject_cop m-r-10" />
                            <Label :text="value.municipio" textWrap="true" class="subject_cop"/>
                        </StackLayout>
                    </StackLayout>
           </ClosablePanel>

        </StackLayout>
    </ScrollView>
</template>

<script>
    import ClosablePanel from "../Containers/ClosablePanel";

    export default {
        name: "ListView",
        props: ["parent"],
        data(){
            return{
                numPages: (this.parent.totalRegistros % 15) > 0 ? (this.parent.totalRegistros/15)+1 : (this.parent.totalRegistros/15),
            }
        },
        components: { ClosablePanel},
        methods: {
            onScroll: function () {
                const scrollView = this.$refs.scrollView.nativeView;
                const topView = this.$refs.topView.nativeView;
            },
        },
    }
</script>

<style scoped>

</style>