<template>
    <Page backgroundColor="white">
        <ActionBar title="Acciones Desarrollo" class="action-bar">
            <NavigationButton text=" " android.systemIcon="ic_menu_back" @tap="goToBack"/>
        </ActionBar>

        <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView">
            <StackLayout>
                <AbsoluteLayout backgroundColor="rgba(0, 0, 0, 0.0)" width="100%" height="100%" v-if="isBusy">
                    <ActivityIndicator left="10" top="10" :busy="true" color="blue" borderRadius="25" width="100%" height="100%" />

                </AbsoluteLayout>
                <GridLayout columns="auto, *" rows="auto, auto" verticalAlignment="top" class="m-10" >
                    <Image :src="programa.icono.base64" rowSpan="2" width="40" height="40" margin="5" verticalAlignment="top"></Image>
                    <Label :text="programa.nombre" rowSpan="2" textWrap="true" verticalAlignment="center" col="1" fontSize="14" margin="3" class="text-center" color="black"></Label>
                </GridLayout>

                <GridLayout columns="*" rows="*" >
                    <RadDataForm row="0" ref="dataform" :source="subject" :metadata="subjectMetadata" :validationMode="validationMode" margin="20" class="formPrograma">
                    </RadDataForm>


                </GridLayout>

                <Button text="Enviar" horizontalAlignment="center" marginTop="10" padding="5" width="120" class="btn btn-primary" @tap="sendData()"></Button>

                <card-view class="cardStyle" margin="20">
                    <StackLayout class="cardContent">
                        <Label text="Aviso de Privacidad" class="text-center h3"></Label>

                        <WebView :src="avisoPrivacidad" marginLeft="5" marginRight="5" :width="width*.98" :height="this.$store.state.isIOS ? height*.3 : 100 +'%'" />

                    </StackLayout>
                </card-view>
            </StackLayout>
        </ScrollView>
    </Page>
</template>

<script>
    import { DataFormValidationMode } from 'nativescript-ui-dataform';
    import * as http from 'tns-core-modules/http';
    const {device, screen} = require('@nativescript/core/platform');
    import * as app from 'tns-core-modules/application'

    const subjectObject ={
            region: "",
            municipio: "",
            nombre: "",
            domicilio: "",
            telefono: "",
            email: "",
            curp: "",
            mensaje: ""
        };

    export default {

        name: "ModalPrograma",

        data(){
            return {
                text: '',
                isBusy: false,
                width: screen.width,
                height: screen.height,
                validationMode: DataFormValidationMode.Immediate,
                subject: subjectObject,
                subjectMetadata: {
                    isReadOnly: false,
                    propertyAnnotations: [
                        {
                            name: 'municipio',
                            displayName: 'Municipio',
                            validators: [
                                {name: 'NonEmpty',  params: {error: "El municipio es requerido!"}},
                                {name: 'MaximumLength', params: {length: 100}},

                                ]
                        },
                        {
                            name: 'nombre',
                            validators: [
                                {name: 'NonEmpty',  params: {error: "El nombre es requerido!"}},
                                {name: 'MaximumLength', params: {length: 100}},

                            ]
                        },
                        {
                            name: 'telefono',
                            displayNameProperty: "Teléfono",
                            editor: "Phone"
                        },
                        {
                            name: 'email',
                            displayNameProperty: "Correo electronico",
                            editor: "Email",
                            validators: [
                                {name: 'NonEmpty', params: {error: "El correo electronico es requerido!"}},
                                {name: "RegEx", params: {regEx: "[a-zA-Z0-9\\+\\.\\_\\%\\-\\+]{1,256}\\@[a-zA-Z0-9][a-zA-Z0-9\\-]{0,64}(\\.[a-zA-Z0-9][a-zA-Z0-9\\-]{0,25})+", errorMessage: "El correo electronico es incorrecto"}}
                            ]
                        },
                        {
                            name: 'curp',
                            validators: [
                                {name: 'NonEmpty',  params: {error: "La CURP es requerida!"}},
                                {name: 'MaximumLength', params: {length: 18,  error: "Máximo 18 caracteres"}},
                                {name: "RegEx", params: {regEx: "[a-z,A-Z]{4}[0-9]{6}[a-z,A-Z]{6}[A-Z,a-z,0-9]{1}[0-9]{1}", errorMessage: "La CURP es incorrecta"}}
                            ]
                        },
                        {
                            name: 'mensaje',
                            editor: "MultilineText",
                            validators: [
                                {name: 'NonEmpty',  params: {error: "El mensaje es requerido!"}},
                                {name: 'MaximumLength', params: {length: 750, error: "Máximo 750 letras"}},

                            ]
                        },
                    ]
                },
                avisoPrivacidad: "<p style='text-align: justify; font-size: 12pt; color: black; '>" + "  LA SECRETARIA DE DESARROLLO SOCIAL Y HUMANO DEL ESTADO DE OAXACA UTILIZARÁ SUS DATOS PERSONALES CONTENIDOS EN EL PRESENTE DOCUMENTO, ÚNICA Y EXLUSIVAMENTE PARA FINES DE ATENCIÓN Y SEGUIMIENTO. LO ANTERIOR DE CONFORMIDAD " +
                    " CON LOS ARTICULOS 116 DE LA LEY GENERAL DE TRANSPARENCIA Y ACCESO A LA INFORMACIÓN PÚBLICA; ARTÍCULO, 10 FRACCIÓN III DE LA LEY DE PROTECCIÓN  DE DATOS PERSONALES EN POSESIÓN DE DATOS PERSONALES DE SUJETOS OBLIGADOS " +
                    " DEL ESTADO DE OAXACA. SI USTED QUIERE EJERCER CUALQUIERA DE LOS DERECHOS ARCO (ACCESO, RECTIFICACIÓN, CANCELACIÓN, Y OPOSICIÓN DE DATOS PERSONALES), " +
                    " PUEDE ACUDIR A LA UNIDAD DE ENLACE DE LA SEDESOH, EN SU DOMICILIO UBICADO EN CIUDAD ADMINISTRATIVA EDIFICIO 5 \"PORFIRIO DÍAZ\"  NIVEL2, CARRETERA INTERNACIONAL OAXACA-ISTMO, KM. 11.5 TLALIXTAC DE CABRERA, OAXACA, C.P. 68270. " +
                    " </br> </br> LOS RECURSOS QUE SE UTILIZAN EN LA SECRETARIA DE DESARROLLO SOCIAL Y HUMANO SON DE CARÁCTER PÚBLICO, AJENOS A CUALQUIER PARTIDO POLÍTICO. QUEDA PROHIBIDO SU USO PARA FINES DISTINTOS AL DESARROLLO SOCIAL Y HUMANO." + "</p>"
            };
        },

        props: ["programa"],

        created(){
          this.subject ={
              region: "",
              municipio: "",
              nombre: "",
              domicilio: "",
              telefono: "",
              email: "",
              curp: "",
              mensaje: ""
          };

            app.on(app.orientationChangedEvent, function(args) {
                if (args.newValue == 'portrait'){
                    this.height = screen.height;
                    this.width = screen.width;
                }
                else{
                    this.height = screen.width; // toma el valor de la pantalla antes de que termine de ejecutarse el evento
                    this.width = screen.height; // por eso el height es adignado al width
                }
            }.bind(this));
        },

        methods: {

            goToBack() {
                this.$navigateBack();
            },

            onImmediateTap() {
                this.validationMode = DataFormValidationMode.Immediate;
            },

            sendData() {
                this.isBusy = true;
                this.$refs.dataform.validateAll()
                    .then(result => {
                        if (result){
                            http.request({
                               content: JSON.stringify({
                                                           type: "programa",
                                                           programaId: this.programa.id,
                                                           programa:  this.programa.nombre,
                                                           mensaje: this.$refs.dataform.getPropertyByName("mensaje").valueCandidate ,
                                                           nombre: this.$refs.dataform.getPropertyByName("nombre").valueCandidate ,
                                                           domicilio : this.$refs.dataform.getPropertyByName("domicilio").valueCandidate ,
                                                           municipio: this.$refs.dataform.getPropertyByName("municipio").valueCandidate ,
                                                           region: this.$refs.dataform.getPropertyByName("region").valueCandidate ,
                                                           telefono: this.$refs.dataform.getPropertyByName("telefono").valueCandidate ,
                                                           mail: this.$refs.dataform.getPropertyByName("email").valueCandidate ,
                                                           curp: this.$refs.dataform.getPropertyByName("curp").valueCandidate
                               }),
                                headers: {
                                    'Cache-Control': 'no-cache',
                                    'Content-Type': 'application/json',
                                },
                                method: 'POST',
                                url: "http://sgps.oaxaca.gob.mx/publico/enviarMail"
                            }).then((response) => {
                                // ...the request work but "foo" is not sent! (response.form is empty)
                                var respuesta = response.content.toJSON();
                                this.isBusy = false;
                                alert(respuesta.message);
                                this.goToBack();
                            });
                        }
                    })
                    .catch((e)=>{
                        console.log("Error->",e)
                        this.isBusy = false;
                    });
                this.isBusy = false;
            },

            updateTextWithResult(result) {
                this.text = `Validation result: ${this.$refs.dataform.validateAll()}`;
            },
        }
    }
</script>

<style scoped>
.formPrograma{
    font-size: 12pt;
    color: #000000;
    font-weight: bold;
}
</style>
