<template>
    <Page backgroundColor="white">
        <ActionBar title="Participa">
<!--            <NavigationButton text=" " android.systemIcon="ic_menu_back" @tap="$navigateBack"/>-->
        </ActionBar>

        <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0" ref="scrollView">
            <StackLayout>
                <RadDataForm ref="dataform" :source="subject" :metadata = "subjectMetadata" :validationMode = "validationMode" :commitMode = "'Manual'" margin="0">
                </RadDataForm>

                <Button text="Enviar" horizontalAlignment="center" marginTop="10" padding="5" width="120" class="btn btn-primary" @tap="sendData()"></Button>

                <card-view class="cardStyle" margin="20">
                    <StackLayout class="cardContent">
                        <Label text="Aviso de Privacidad" class="cardTitle text-center"></Label>

                        <Label :text="avisoPrivacidad" class="privacidadText" textWrap="true"></Label>
                    </StackLayout>
                </card-view>
            </StackLayout>
        </ScrollView>
    </Page>
</template>

<script>
    import { DataFormValidationMode } from 'nativescript-ui-dataform';
    const http = require('@nativescript/core/http');
    import AccionesDesarrollo from "../../pages/AccionesDesarrollo";

    export default {
        name: "ModalPrograma",
        data(){
            return {
                text: '',
                avisoPrivacidad: "  LA SECRETARIA DE DESARROLLO SOCIAL Y HUMANO DEL ESTADO DE OAXACA UTILIZARÁ SUS DATOS PERSONALES CONTENIDOS EN EL PRESENTE DOCUMENTO, ÚNICA Y EXLUSIVAMENTE PARA FINES DE ATENCIÓN Y SEGUIMIENTO. LO ANTERIOR DE CONFORMIDAD " +
                                 " CON LOS ARTICULOS 116 DE LA LEY GENERAL DE TRANSPARENCIA Y ACCESO A LA INFORMACIÓN PÚBLICA; ARTÍCULO, 10 FRACCIÓN III DE LA LEY DE PROTECCIÓN  DE DATOS PERSONALES EN POSESIÓN DE DATOS PERSONALES DE SUJETOS OBLIGADOS " +
                                 " DEL ESTADO DE OAXACA. SI USTED QUIERE EJERCER CUALQUIERA DE LOS DERECHOS ARCO(ACCESO, RECTIFICACIÓN,CANCELACIÓN, Y OPOSICIÓN DE DATOS PERSONALES), " +
                                 " PUEDE ACUDIR A LA UNIDAD DE ENLACE DE LA SEDESOH, EN SU DOMICILIO UBICADO EN CIUDAD ADMINISTRATIVA EDIFICIO 5 \"PORFIRIO DÍAZ\"  NIVEL2, CARRETERA INTERNACIONAL OAXACA-ISTMO, KM. 11.5 TLALIXTAC DE CABRERA, OAXACA, C.P. 68270. " +
                                 " \n \n  LOS RECURSOS QUE SE UTILIZAN EN LA SECRETARIA DE DESARROLLO SOCIAL Y HUMANO SON DE CARÁCTER PÚBLICO, AJENOS A CUALQUIER PARTIDO POLÍTICO. QUEDA PROHIBIDO SU USO PARA FINES DISTINTOS AL DESARROLLO SOCIAL Y HUMANO.",
                validationMode: DataFormValidationMode.Immediate,
                subject:{
                    nombre: "",
                    domicilio: "",
                    telefono: "",
                    email: "",
                    curp: "",
                    mensaje: ""
                },
                subjectMetadata: {
                    isReadOnly: false,
                    propertyAnnotations: [
                        {
                            name: 'nombre',
                            validators: [
                                {name: 'NonEmpty',  params: {error: "El nombre es requerido!"}},
                                {name: 'MaximumLength', params: {length: 100}},

                            ]
                        },
                        {
                            name: 'telefono',
                            displayNameProperty: "Teléfono",
                            editor: "Phone"
                        },
                        {
                            name: 'email',
                            displayNameProperty: "Correo electronico",
                            editor: "Email",
                            validators: [
                                {name: 'NonEmpty', params: {error: "El correo electronico es requerido!"}},
                                {name: "RegEx", params: {regEx: "[a-zA-Z0-9\\+\\.\\_\\%\\-\\+]{1,256}\\@[a-zA-Z0-9][a-zA-Z0-9\\-]{0,64}(\\.[a-zA-Z0-9][a-zA-Z0-9\\-]{0,25})+", errorMessage: "El correo electronico es incorrecto"}}
                            ]
                        },
                        {
                            name: 'curp',
                            validators: [
                                {name: 'NonEmpty',  params: {error: "La CURP es requerida!"}},
                                {name: 'MaximumLength', params: {length: 18,  error: "Máximo 18 caracteres"}},
                                {name: "RegEx", params: {regEx: "[a-z,A-Z]{4}[0-9]{6}[a-z,A-Z]{6}[A-Z,a-z,0-9]{1}[0-9]{1}", errorMessage: "La CURP es incorrecta"}}
                            ]
                        },
                        {
                            name: 'mensaje',
                            editor: "MultilineText",
                            validators: [
                                {name: 'NonEmpty',  params: {error: "El mensaje es requerido!"}},
                                {name: 'MaximumLength', params: {length: 750, error: "Máximo 750 letras"}},

                            ]
                        },
                    ]
                },
            };
        },
        methods: {
            goToBack() {
                this.$navigateTo(AccionesDesarrollo, {
                    animated: true,
                    transition: {
                        name: "slideLeft",
                        duration: 250,
                        curve: "easeIn"
                    },
                })
                //frameModule.topmost().goBack();
            },
            onImmediateTap() {
                this.validationMode = DataFormValidationMode.Immediate;
            },
            sendData() {

                this.$refs.dataform.validateAll().then(result => {

                        if (result){
                            http.request({
                               content: JSON.stringify({
                                                           type: "participa",
                                                           asunto: "Mensaje enviado desde App Sostenble",
                                                           mensaje: this.$refs.dataform.getPropertyByName("mensaje").valueCandidate ,
                                                           nombre: this.$refs.dataform.getPropertyByName("nombre").valueCandidate ,
                                                           domicilio : this.$refs.dataform.getPropertyByName("domicilio").valueCandidate ,
                                                           telefono: this.$refs.dataform.getPropertyByName("telefono").valueCandidate ,
                                                           mail: this.$refs.dataform.getPropertyByName("email").valueCandidate ,
                                                           curp: this.$refs.dataform.getPropertyByName("curp").valueCandidate
                               }),
                                headers: {
                                    'Cache-Control': 'no-cache',
                                    'Content-Type': 'application/json',
                                },
                                method: 'POST',
                                url: "http://sostenible.oaxaca.gob.mx/participa/enviarMail"
                            }).then((response) => {
                                alert(response);
                                // ...the request work but "foo" is not sent! (response.form is empty)
                                var respuesta = response.content.toJSON();
                                // Toast.makeText(" " + respuesta.message, "long").show();
                                this.goToBack();
                            }).catch((error)=>{
                                console.log("--------->Error no se sabe donde"+error)
                                alert(error);
                            });
                        }
                    });
            },
            updateTextWithResult(result) {
                this.text = `Validation result: ${this.$refs.dataform.validateAll()}`;
            },
        }
    }
</script>

<style scoped>
    .privacidadText{
        font-size: 12px;
        letter-spacing: .1rem;
        color: black;
        paddingTop: 50px;
    }
</style>