<template>
    <ScrollView row="*" scrollBarIndicatorVisible="false" paddingBottom="0">
        <StackLayout backgroundColor="white" height="50%">
            <AbsoluteLayout>
                <Label :text="'fa-info-circle' | fonticon" class="fa subtitle_cop m-l-20 m-t-20" fontWeight="bold" color="#077FB8" width="25%" />
                <Label text="Oaxaca Sostenible" class="subtitle_cop m-l-10 m-t-20" textAlignment="center" fontWeight="bold" width="75%" color="#000000" />
            </AbsoluteLayout>
            <Label :text="message" textWrap="true" class="subject_cop" margin="20" color="#000000"/>
            <Button text="Cerrar" horizontalAlignment="right" marginBottom="20" marginRight="40" width="150" heigth="35" padding="10" class="btn-secondary subject_cop" @tap="onCloseModal"></Button>
        </StackLayout>
    </ScrollView>
</template>

<script>
    const {device, screen} = require('@nativescript/core/platform');

    export default {
        name: "ModalAcercaDe",
        data(){
            return{
                message: "Es una plataforma de información sobre la política social de Oaxaca, desde las acciones y " +
                          "programas para el desarrollo social que emprenden los organismos de gobierno en la entidad, " +
                          "su atención a los Derechos Sociales, su alineación a los Objetivos de Desarrollo Sostenible, " +
                          "así como datos e indicadores de relevancia para la investigación, monitoreo y evaluación de " +
                          "las políticas públicas en materia social.",
                sizeText: 0
            }
        },
        created(){
            this.widthDIPs = screen.width;

            if (this.widthDIPs >= 800){
                this.sizeText = 28;
            }
            else{
                this.sizeText = 16;
            }
        },
        methods: {
            onCloseModal(args) {
                args.object.closeModal();
            },
        },
    }
</script>

<style scoped>

</style>