<template>
    <Page class="page" actionBarHidden="true" loaded="pageLoaded">
        <StackLayout class="body-modal" width="100%">
            <Label @tap="onCloseModal" :text="'fa-times-circle' | fonticon" textAlignment="right" class="fa h2" color="#ffffff" margin="10"></Label>
            <GridLayout rows="*" columns="*" @pan="onPan" @pinch="onPinch" @doubleTap="onDoubleTap">
                <Image id="item" :src="portada" stretch="aspectFit" width="100%" :scaleX="scaleX" :scaleY="scaleY" :translateY="translateY" :translateX="translateX"></Image>
            </GridLayout>
        </StackLayout>
    </Page>
</template>

<script>
    const http = require("@nativescript/core/http");
    import * as utils from "@nativescript/core/utils";
    import {Label} from "@nativescript/core/ui/label";
    import {View} from "@nativescript/core/ui/core/view";
    import qs from 'qs';

    let item= new View();
    let statusLbl= new Label();

    let density= 0;
    let prevDeltaX= 0;
    let prevDeltaY= 0;
    let startScale = 1;

    export function pageLoaded(args) {
        const page = args.object;
        item = page.getViewById("item");
        statusLbl = page.getViewById("status");
        density = utils.layout.getDisplayDensity();

        item.translateX = 0;
        item.translateY = 0;
        item.scaleX = 1;
        item.scaleY = 1;

        updateStatus();
    }

    function updateStatus() {
        const text = "translate: [" + Math.round(item.translateX) + ", " + Math.round(item.translateY) + "]" +
            "\nscale: [" + (Math.round(item.scaleX * 100) / 100) + ", " + (Math.round(item.scaleY * 100) / 100) + "]" +
            "\norigin: [" + Math.round(item.originX * item.getMeasuredWidth()) + ", " + Math.round(item.originY * item.getMeasuredHeight()) + "]";

        statusLbl.text = text;
    }

    export default {
        name: "modalViewer",
        data(){
            return{
                portada: '',
                scaleX:1,
                scaleY:1,
                translateX:1,
                translateY:1,
                portada: ''
            }
        },
        props: ['ruta', 'id'],
        methods: {
            onCloseModal(args) {
                args.object.closeModal();
            },
            onPan(args){
                if (args.state === 1) {
                    prevDeltaX = 0;
                    prevDeltaY = 0;
                }
                else if (args.state === 2) {
                    item.translateX += args.deltaX - prevDeltaX;
                    item.translateY += args.deltaY - prevDeltaY;
                    this.translateY += args.deltaY - prevDeltaY;
                    this.translateX += args.deltaX - prevDeltaX;

                    prevDeltaX = args.deltaX;
                    prevDeltaY = args.deltaY;
                }

                updateStatus();
            },
            onPinch(args){
                if (args.state === 1) {
                    const newOriginX = args.getFocusX() - item.translateX;
                    const newOriginY = args.getFocusY() - item.translateY;

                    const oldOriginX = item.originX * item.getMeasuredWidth();
                    const oldOriginY = item.originY * item.getMeasuredHeight();

                    item.translateX += (oldOriginX - newOriginX) * (1 - item.scaleX);
                    item.translateY += (oldOriginY - newOriginY) * (1 - item.scaleY);

                    item.originX = newOriginX / item.getMeasuredWidth();
                    item.originY = newOriginY / item.getMeasuredHeight();

                    startScale = item.scaleX;
                }

                else if (args.scale && args.scale !== 1) {
                    let newScale = startScale * args.scale;
                    newScale = Math.min(8, newScale);
                    newScale = Math.max(0.125, newScale);

                    item.scaleX = newScale;
                    item.scaleY = newScale;
                    this.scaleX = newScale;
                    this.scaleY = newScale;
                }

                updateStatus();
            },
            onDoubleTap(args){
                this.translateX=0;
                this.translateY=0;
                this.scaleX=1;
                this.scaleY=1;
            }
        },
        created(){
            if (this.id){
                http.request({
                    content: qs.stringify({id: this.id}), //JSON.stringify({id: item}),
                    headers: {'content-type': 'application/x-www-form-urlencoded'},
                    method: 'POST',
                    url: this.ruta
                }).then((response) => {
                    this.portada = response.content.toJSON().ruta;
                }, (error) => {
                   alert("Sin conexión!")
                });
            }else{
                this.portada = this.ruta;
            }
        }
    }
</script>

<style scoped>

</style>